table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Required for datatables */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

div {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

tr.common-attributes{
	 display: none;
}

tbody tr td{
  overflow: hidden;
  max-width: 400px;
  word-wrap: break-word;
}

.secret-grid {
  border-radius: 15px;
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-auto-rows: minmax(200px, auto);

  width: auto;
  padding: 0;
  margin: 0;
  background: #1B2737;
}

.secret-grid pre{
  justify-self; center;
  grid-column:1/13; 
  color: white;
  font-weight: bold;
}

.secret-grid button {
  border-radius: 15px;
  grid-column: 1/13; 

  grid-row: 2;
  align-self: end; 
  justify-self:stretch; 
  font-weight: bold; 
  height: 70px; 
  font-size: 30px;
}

/*For return to top arrow*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
