{% extends 'base.html' %}

{% block title %}
All tests page
{% endblock title %}

{% block content %}
	
	<div id="best-of-all-graph-div">
		<div id="best-of-all-graph">
		</div>

		<h2>Select Reference</h2>
		<select id="reference-for-normalized" name="reference-for-normalized">
			<!-- ALL CPU MANUFACTURERES -->
			{% for reference in context.reference_list %}
				{% if loop.index0 == 0 %}
					<option value="{{ qualifier }}" selected="selected">{{ reference }}</option>
				{% else %}
					<option value="{{ qualifier }}">{{ reference }}</option>
				{% endif %}
			{% endfor %}
		</select>

		<button id="download-comparison-graph" class="btn btn-primary font-weight-bold" onclick="downloadAsPng('Best results Normalized w.r.t. ' + $('#reference-for-normalized option:selected').text(), 'best-of-all-graph')">Download as PNG</button>

	</div>

	<div class='all-results-page'>
		<h2>Filter tests</h2>
		<form>
			{% for filter in context.filter_labels_list %}
				<p>
					<input type="checkbox" class="filter-checkboxes" onclick="filterTestsByLabel(this)" name="{{ filter }}" value="{{ filter }}">
					<label for="{{ filter }}">{{ filter }}</label>
				</p>
			{% endfor %}
		</form>
	</div>
	<div class='all-results-page'>
		<h2>HPC BENCHMARKS</h2>
		<table id="hpc-benchmarks-list">
			{% for benchmark in context.hpc_benchmarks_list %}
				<tr class="all-tests-rows">
					<td class="all-tests-cells" onclick="showAllRuns(this)"> {{ benchmark }} </td>
					<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class='all-results-page'>
		<h2>CLOUD BENCHMARKS</h2>
		<table id="cloud-benchmarks-list">
			{% for benchmark in context.cloud_benchmarks_list %}
				<tr class="all-tests-rows">
					<td class="all-tests-cells" onclick="showAllRuns(this)"> {{ benchmark }} </td>
					<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

<script>
	
	$(document).ready(function() {
		
    	uncheckBoxes("filter-checkboxes")

		console.log("SENDING REQUEST")

		//Draw the initial best-of-all-graph
    	drawBestOfAllGraph()

	});

	// Re- Draw the best-of-all-graph when reference CPU is changed
	$(function(){
		$("#reference-for-normalized").change(function(){
			drawBestOfAllGraph()
		})
	});


</script>

{% endblock content %}

