{% extends 'base.html' %}

{% block title %}
All tests page
{% endblock title %}

{% block header %}
	<div class="bg-dark jumbotron jumbotron-fluid py-3">
		<div class="bg-dark p-1 m-0"></div>
		<div class="container-fluid d-flex py-0">
			<a class="navbar-brand bg-light rounded" href="#">
				<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="250" height="100" class="img-fluid" alt="">
			</a>
			<div>
			    <h1 class="display-3 text-white font-weight-bold">FACTs FRONTEND</h1>
			    <p class="lead font-weight-normal text-secondary">Framework for Analysis and Comparison of Tests</p>
			</div>
		</div>
		<div class="bg-dark p-1 m-0"></div>
	</div>
{% endblock %}


{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 rounded-circle" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#best-of-all-graph-collapse-div">Best Results Graph</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#all-benchmarks-and-labels-title">All Benchmarks Tables</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/reports_page" target="_blank">Reports</a>
			</li>
		</ul>
		<ul class="navbar-nav font-weight-normal ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/about" target="_blank">About</a>
			</li>
		</ul>
	</nav>
{% endblock %}


{% block content %}

	<!-- Best of all graph collapse div -->
	<div id="best-of-all-graph-collapse-div" class="card my-5" style="border-top: 15px solid #2d7a9c; border-right: 1px solid #2d7a9c; border-left: 1px solid #2d7a9c; border-bottom: 5px solid #2d7a9c;">
		<div class="card-header bg-transparent h3">Best of all results graph</div>
		<div class="card-body text-secondary">
			<h5 class="card-title">About the graph</h5>
			<p class="card-text lead">This graph shows the best results of all benchmarks normalized w.r.t. the selected SKU</p>
			<div class="collapse container-fluid" id="bestGraphCollapse">

				<!-- The Actual Graph Div -->
				<div class="card bg-light rounded mb-5" id="best-of-all-graph-div">
					
					<div class="mx-5 mb-5 w-75" style="height:500px;" id="best-of-all-graph">
					</div>

					<div class="card-footer mt-3 mb-0 p-0 bg-transparent d-flex">
						
						<div class="dropdown mr-5">
							<button id="reference-for-normalized" type="button" class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
							Select Reference </button>
							<div id="reference-for-normalized-dropdown" class="dropdown-menu">
								<h4 class="dropdown-header">CPU Names</h4>
								{% for reference in context.reference_list %}
									<button class="dropdown-item" onclick="normalizedReferenceChanged('{{ reference }}')">{{ reference }}</button>
								{% endfor %}
							</div>
						</div>

						<div class="d-flex flex-column">
							<label class = "h4" for="resultype-filter">Result Type</label>
							<select class="form-control" name="resultype-filter" id="resultype-filter">
								<option value="">None</option>
								{% for option in context.result_type_list %}
									{% if option == 'dual socket' %}
										<option value="{{option}}" class="selected-option" selected="selected">{{option}}</option>
									{% else %}
										<option value="{{option}}">{{option}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

						<!-- Download as CSV button -->
						<button id="download-best-of-all-graph-csv" class="btn btn-outline-primary float-right h-50 align-self-center ml-5 mr-3">Download as CSV</button>

						<!-- Download as PNG button -->
						<button id="download-best-of-all-graph-png" class="btn btn-primary float-right h-50 align-self-center ml-5" onclick="downloadAsPng('Best results Normalized w.r.t. ' + $('#reference-for-normalized option:selected').text(), 'best-of-all-graph')">Download as PNG</button>

						<!-- Toast (Popup info message) -->
						<div id="reference-toast" class="toast ml-5" role="alert" aria-live="polite" aria-atomic="true" data-autohide="false">
							<div id="reference-toast-info" class="toast-header"><h3 class="text-white">Information:</h3></div>
							<div class="toast-body"><h5 id="reference-toast-body"></h5></div>
						</div>

						<!-- Show graph button
						<button id="refresh-graph" class="btn btn-success ml-auto h-50 align-self-center mr-5">Refresh Graph</button> -->

					</div>

				</div>

			</div>
		</div>
		<div class="card-footer bg-transparent border-info d-flex flex-row-reverse">
			<button id="bestGraphCollapseButton" class="btn btn-success" type="button" data-toggle="collapse" data-target="#bestGraphCollapse" aria-expanded="false" aria-controls="bestGraphCollapse">
				Click to view/hide the graph
			</button>
		</div>
	</div>

	<div id="all-benchmarks-and-labels-title" class="mt-5 pb-5 container-fluid bg-light" style="border-top: 15px solid #2d7a9c; border-right: 1px solid #2d7a9c; border-left: 1px solid #2d7a9c;">
		<hr class="bg-secondary">
		<h2 class="mb-2">All Benchmarks and Label filters</h2>
		<p class="lead font-weight-normal text-secondary">List of all labels and Benchmarks
		<br>
		</p>
	</div>
	<!-- Search benchmark form -->
	<div id="search-benchmark-form-div" class="container-fluid mx-0 py-0 bg-light" style="border-right: 1px solid #2d7a9c; border-left: 1px solid #2d7a9c;">
		<div class="form-group m-0">
			<label id="search-label" for="search-textbox" class="h3 text-secondary">Search Benchmark</label>
			<input type="text" class="text-input form-control" id="search-textbox" placeholder="Search..." value="" />
		</div>
	</div>

	<!-- Filter and tables -->
	<div id="filters-and-tables" class="container-fluid d-flex justify-content-between" style="border-right: 1px solid #2d7a9c; border-left: 1px solid #2d7a9c; border-bottom: 5px solid #2d7a9c;">
		<!-- All Filters div -->
		<div id="all-filters-div">
			<!-- Filter by labels title -->
			<div id="filter-by-labels-title" class="card-header bg-transparent pt-0 mt-0 container-fluid">
				<hr class="bg-secondary">
				<h2>Filter by Labels</h2>
				<p class="lead font-weight-normal text-secondary">Select a label to redraw
				<br>
				the above graph
				</p>
			</div>

			<form>
				<!-- List of filter labels -->
				<div style="max-height: 100vh; overflow-y: auto;">
					{% for filter in context.filter_labels_list %}
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input filter-checkboxes" id="{{ filter }}" onclick="filterTestsByLabel()" name="{{ filter }}" value="{{ filter }}">
						    <label class="custom-control-label" for="{{ filter }}">{{ filter }}</label>
		  				</div>
					{% endfor %}
					<div class="mb-5" ></div>
					
					<!-- Date filters div -->
					<div id="date-filters-div" class="card mt-5 bg-secondary">
						<h5 class="card-header text-center text-white">Filter graph by date</h5>
						<div class="d-flex">
							<label class="text-white pr-2">From</label>
							<input type="date" id="from-date" name="from-date" min="2000-01-01" required>
       					</div>

       					<div class="d-flex">
							<label class="text-white pr-2">To</label>
							<input type="date" id="to-date" name="to-date" min="2000-01-01" required>
						</div>
						<button id="apply-date-filter-button" type="button" class="btn btn-success m-2">Apply date filter</button>
						<button id="remove-date-filter-button" type="button" class="btn btn-danger m-2">Remove date filter</button>

						<div id="filter-toast" class="toast mt-3 p-1" role="alert" aria-live="polite" aria-atomic="true" data-autohide="false">
							<div id="filter-toast-info" class="toast-header"><h4 class="text-white">Information:</h4></div>
							<div class="toast-body"><h5 id="filter-toast-body"></h5></div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<!-- HPC Table div -->
		<div id="hpc-table-div" class=''>
			<!-- HPC Table title -->
			<div id="sku-comparison-graph-title" class="card-header bg-transparent pt-0 mt-0 container-fluid">
				<hr class="bg-secondary">
				<h2>HPC Benchmarks</h2>
			</div>

			<div class="p-0 m-0" style="max-height: 100vh; overflow-y: auto;">
				<table class="table table-dark table-hover" id="hpc-benchmarks-list">
					{% for benchmark in context.hpc_benchmarks_list %}
						<tr class="all-tests-rows">
							<td class="all-tests-cells"><a href="/allruns/{{benchmark}}" class="btn btn-dark text-white font-weight-bold text-center w-100 my-0">{{benchmark}}</a></td>
							<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<!-- Cloud Table div -->
		<div id="cloud-table-div" class=''>
			<div id="sku-comparison-graph-title" class="card-header bg-transparent pt-0 mt-0 container-fluid">
				<hr class="bg-secondary">
				<h2>Cloud Benchmarks</h2>
			</div>
			<div class="p-0 m-0" style="max-height: 100vh; overflow-y: auto;">
				<table class="table table-dark table-hover" id="cloud-benchmarks-list">
					{% for benchmark in context.cloud_benchmarks_list %}
						<tr class="all-tests-rows">
							<td class="all-tests-cells"><a href="/allruns/{{benchmark}}" class="btn btn-dark font-weight-bold text-white text-center w-100 my-0">{{benchmark}}</a></td>
							<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>

	<!-- Hidden form for Downloading data as CSV -->
	<form action="/download_as_csv" method="POST" id="download-csv-form" style="display:none;">
	</form>

<script>
	
	$(document).ready(function() {
		$(".filter-checkboxes").prop('checked', false)

		$("#search-textbox").val("")

		console.log("SENDING REQUEST")

		//Draw the initial best-of-all-graph
		drawBestOfAllGraph('{{ context.reference_list[0] }}')

		$('#from-date').val("")
		$('#to-date').val("")

		// Show and hide immediately because it is taking up space
		$('#filter-toast').toast('show')
		setTimeout(function(){	
			$('#filter-toast').toast('hide')
		},1000)

		// Show and hide immediately because it is taking up space
		$('#reference-toast').toast('show')
		setTimeout(function(){	
			$('#reference-toast').toast('hide')
		},500)
	});

	// Search benchmark on keyup
	$("#search-textbox").keyup(function(){

		// Retrieve the input field text
		var filter = $(this).val();

		// Loop through the comment list
		$(".all-tests-cells").each(function(){

			// If the list item does not contain the text phrase fade it out
			if ($(this).text().search(new RegExp(filter, "i")) < 0) {
				$(this).parent().fadeOut();

			// Show the list item if the phrase matches
			} else {
				$(this).parent().show();

			}
		});
	});

	// Change style of search div on hover
	$("#search-benchmark-form-div").hover(
		// on mouse hover
		() => {
			$('#search-benchmark-form-div').removeClass("bg-light");
			$('#search-benchmark-form-div').css("background-color", '#2d7a9c');
			$('#search-label').removeClass('text-secondary')
			$('#search-label').addClass('text-white')
		}, 
		// on mouse leave
		() => {
			$('#search-benchmark-form-div').css("background-color", '');
			$('#search-benchmark-form-div').addClass("bg-light");
			$('#search-label').addClass('text-secondary')
			$('#search-label').removeClass('text-white')
		}
	);

	// Set to-date min as 'from-date' value
	$('#from-date').change(function(){
		$toDate = $('#to-date')
		$toDate.attr('min', $('#from-date').val())

		console.log("Set to date min as")
		console.log($toDate.attr('min'))
	})

	// Set from-date max as 'to-date' value
	$('#to-date').change(function(){
		$fromDate = $('#from-date')
		$fromDate.attr('max', $('#to-date').val())

		console.log("Set from date max as")
		console.log($fromDate.attr('max'))
	})

	// Redraw the graph when result type filter changes
	$('#resultype-filter').change(function(){
		// Get normalized WRT if graph exists, or choose the first one
		// Graph does not exist initially when we load/refresh page
		$dropdownMenu = $('#reference-for-normalized-dropdown')
		$firstNormalized = $dropdownMenu.children()[1].innerHTML

		graphDiv = document.getElementById('best-of-all-graph')
		normalizedWRT = graphDiv.data ? graphDiv.data.normalizedWRT : $firstNormalized

		//Draw new best_of_all_graph according to filters
		drawBestOfAllGraph(normalizedWRT)
	})


	$('#apply-date-filter-button').click(function(){

		$fromDate = $('#from-date').val()
		$toDate = $('#to-date').val()

		if($fromDate == "" && $toDate == "")
		{
			//show error message
			showFilterToast('bg-danger', "Fill atleast one date filter")
		}
		else
		{
			//show success message
			showFilterToast('bg-success', "Applying filters. Redrawing graph")

			// Get normalized WRT if graph exists, or choose the first one
			// Graph does not exist initially when we load/refresh page
			$dropdownMenu = $('#reference-for-normalized-dropdown')
			$firstNormalized = $dropdownMenu.children()[1].innerHTML
			
			graphDiv = document.getElementById('best-of-all-graph')
			normalizedWRT = graphDiv.data ? graphDiv.data.normalizedWRT : $firstNormalized
			
			//Draw new best_of_all_graph according to filters
			drawBestOfAllGraph(normalizedWRT)
		}
	})

	$('#remove-date-filter-button').click(function(){
		$fromDate = $('#from-date').val()
		$toDate = $('#to-date').val()

		if($fromDate == "" && $toDate == "")
		{
			//show error message
			showFilterToast('bg-danger', "No Filters are currently applied")
		}
		else{
			$('#from-date').val("")
			$('#to-date').val("")

			//show success message
			showFilterToast('bg-success', "Removed filters. Redrawing graph")

			// Get normalized WRT if graph exists, or choose the first one
			// Graph does not exist initially when we load/refresh page
			$dropdownMenu = $('#reference-for-normalized-dropdown')
			$firstNormalized = $dropdownMenu.children()[1].innerHTML

			graphDiv = document.getElementById('best-of-all-graph')
			normalizedWRT = graphDiv.data ? graphDiv.data.normalizedWRT : $firstNormalized

			//Draw new best_of_all_graph according to filters
			drawBestOfAllGraph(normalizedWRT)
    	}
	})

	$('#download-best-of-all-graph-csv').click(function(){

		// returns a unique array
		function uniqueArray(elem, index, self) {
			return index === self.indexOf(elem);
		}

		data = {
		}

		$bestOfAllGraph = $('#best-of-all-graph')

		data['x'] = $bestOfAllGraph[0]._fullLayout.xaxis._categories

		for(i = 0; i < $bestOfAllGraph[0].data.length; i++) {
			$name = $bestOfAllGraph[0].data[i].name
			data['y_'+$name] = []
			for(j = 0; j < data['x'].length; j++) {
				$currentX = $bestOfAllGraph[0].data[i].x
				$index = $.inArray(data['x'][j], $currentX)
				if($index != -1){
					data['y_'+$name].push($bestOfAllGraph[0].data[i].y[$index])
				}
				else {
					data['y_'+$name].push("")
				}
		  }
		}
		
		console.log("DATA")
		console.log(data)

		$form = $('#download-csv-form')

		downloadAsCsv('Best of all Graph normalized WRT' + $bestOfAllGraph[0].data.normalizedWRT , data, $form)
	})

	// On 'Show Graph' clicked
	$('#refresh-graph').click(function(){
			// Get normalized WRT if graph exists, or choose the first one
			// Graph does not exist initially when we load/refresh page
			$dropdownMenu = $('#reference-for-normalized-dropdown')
			$firstNormalized = $dropdownMenu.children()[1].innerHTML

			graphDiv = document.getElementById('best-of-all-graph')
			normalizedWRT = graphDiv.data ? graphDiv.data.normalizedWRT : $firstNormalized

			//Draw new best_of_all_graph according to filters
			drawBestOfAllGraph(normalizedWRT)
	})

	// Show the toast (popup message), with bgClass background 
	function showFilterToast(bgClass, message, duration=3000) {

		$('#filter-toast-info').addClass(bgClass)	//set info background
		$('#filter-toast-body').html(message)	//fill info
		$('#filter-toast').toast('show')
		setTimeout(function(){
			$('#filter-toast').toast('hide')
			$('#filter-toast-info').removeClass(bgClass)	//remove info background
		},duration)
	}

	function showReferenceToast(bgClass, message, duration=3000) {

		$('#reference-toast-info').addClass(bgClass)	//set info background
		$('#reference-toast-body').html(message)	//fill info
		$('#reference-toast').toast('show')
		setTimeout(function(){
			$('#reference-toast').toast('hide')
			$('#reference-toast-info').removeClass(bgClass)	//remove info background
		},duration)
	}

	function normalizedReferenceChanged(normalizedWRT) {
		graphDiv = document.getElementById('best-of-all-graph')

		if(graphDiv.data && graphDiv.data.normalizedWRT == normalizedWRT)
		{
			console.log("SAME REFERENCE MAN" + normalizedWRT)

			//show the error message
			showReferenceToast('bg-danger', normalizedWRT + " is already the selected reference")
		}
		else
		{
			//show the success message
			showReferenceToast('bg-success', normalizedWRT + " is now the reference. Redrawing Graph.", 4000)	
			drawBestOfAllGraph(normalizedWRT)
		}
	}

</script>

{% endblock content %}
