{% extends 'base.html' %}

{% block title %}
All Runs of the test
{% endblock title %}


{% block content %}

	<h2 style="font-weight: bold; text-align: center;">{{ context.testname }}</h2>
	
	<div id="outer-graph-div">
		<div id="graph-div">
			<span>
				<select id="yParameter" name="yParameter">
					<!-- TAKING PARAMETERS FROM INI FILE -->
					{% for qualifier in context.qualifier_list %}
						{% if loop.index0 == 0 %}
							<option value="{{ qualifier }}" selected="selected">{{ qualifier }}</option>
						{% else %}
							<option value="{{ qualifier }}">{{ qualifier }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<p>vs</p>
				<select id="xParameter" name="xParameter">
					<option value="Kernel Version" selected="selected">Kernel Version</option>
					<option value="OS Version">OS Version</option>
					<option value="OS Name">OS Name</option>
					<option value="Firmware Version">Firmware Version</option>
					<option value="ToolChain Name">ToolChain Name</option>
					<option value="ToolChain Version">ToolChain Version</option>
					<!-- <option value="Flags">Flags</option> -->
				</select>

				<button id="download-comparison-graph" class="blue" onclick="downloadAsPng($('#xParameter option:selected').val(),$('#yParameter option:selected').val(), 'comparison-graph')">Download as PNG</button>
				<button id="download-best-sku-graph" class="blue" onclick="downloadAsPng($('#xParameter option:selected').val(),$('#yParameter option:selected').val(), 'best-sku-graph')">Download as PNG</button>

			</span>
		</div>
		<div id="graph-plot-div">
			<div id="sku-filters">
				
			</div>
			<div id="comparison-graph"></div>
			<div id="best-sku-graph"></div>
			<form id="graph-type-form">
				<label for="Absolute">Absolute</label>
				<input type="radio" name="typeOfGraph" id="Absolute" checked="checked" value="Absolute">
				<label for="Normalized">Normalized</label>
				<input type="radio" name="typeOfGraph" id="Normalized" value="Normalized">
				<select id="normalized-dropdown" name="normalized-dropdown">

				</select>
			</form>
		</div>
	</div>

	<form action="/diff" method="POST">

		<div class='inline-block-child'>
			<table id="allRunsTable">
				<thead>
					<tr>
						<th>Select to Compare</th>
						{% for column in context.data %}

							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody>
					{% for row in range(context.no_of_rows) %}
						{% set i = loop.index0 %}
						<tr class="table-row">
							{% for key in context.data %}
								{% if loop.index0 == 0%}
									<td><input class="checkbox diff-checkbox" type="checkbox" name="diff-checkbox{{i}}" value="{{ context.data['originID'][i] }}"></td>
									<td class="originID table-cell"><a href="/test-details/{{ context.data[key][i] }}">{{ context.data[key][i] }}</a></td>
								{% else %}
									<td class="table-cell"> {{ context.data[key][i] }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
	</form>

<script>
	uncheckBoxes("diff-checkbox");
	
	document.getElementById("graph-type-form").reset();
	var $normalizedList = $("#normalized-dropdown");
	$normalizedList.hide();

	$(document).ready(function() {
	    // Setup - append a text input to each header cell
	    $('#allRunsTable thead tr').clone(true).appendTo( '#allRunsTable thead' );
	    $('#allRunsTable thead tr:eq(1) th').each( function (i) {
	    	if(i == 0)
	    		$(this).html( '<button id="diff-button" class="blue" type="submit">Compare</button>' );
	    	else
	        {
	        	var title = $(this).text();
	        	$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
	        }
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        });
	    } );
	 
	    var table = $('#allRunsTable').DataTable( {
	    	"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	        orderCellsTop: true,
	        fixedHeader: true
	    });

	    
	    //draw the first graph according to the selected values
		var xParameter = $("#xParameter option:selected").val();
		var yParameter = $("#yParameter option:selected").val();
	    
	    //Function for drawing INITIAL comparison graph
	    sendAjaxRequest(xParameter, yParameter, "{{ context.testname }}", url='/get_data_for_graph')

		// AJAX request to get_data_for_graph for redrawing the graph on "xParameter" changed event
		$(function(){
			$("#xParameter").change(function(){
				//update the xParameter value
				xParameter = $('option:selected', this).text()

				sendAjaxRequest(xParameter, yParameter, "{{ context.testname }}", url='/get_data_for_graph')
			})
		});


		// AJAX request to get_data_for_graph for redrawing the graph on "xParameter" changed event
		$(function(){
			$("#yParameter").change(function(){
				//update the yParameter value
				yParameter = $('option:selected', this).text()
				console.log("PRINTING Y PARAM" + yParameter + xParameter)
				sendAjaxRequest(xParameter, yParameter, "{{ context.testname }}", url='/get_data_for_graph')
			})
		});

	    //Function for drawing Best SKU graph
	    sendAjaxRequest('SKUs', 'Best ', "{{ context.testname }}", url='/best_sku_graph')

	    //fill the dropdown list
	    //and hide it
	    fillNormalizedDropdown();

	    //Event handler on switching from "Absolute" to "Normalized" best_sku_graph and vice-versa
		$('input[type=radio][name=typeOfGraph]').change(function() {
		    if (this.value == 'Absolute') {
		    	var $normalizedList = $("#normalized-dropdown");
		    	$normalizedList.hide();
		    	sendAjaxRequest('SKUs', 'Best ', "{{ context.testname }}", url='/best_sku_graph')
		        
		    }
		    else if (this.value == 'Normalized') {
		    	var $normalizedList = $("#normalized-dropdown");
		    	$normalizedList.show();

		    	drawNormalizedGraph('best-sku-graph', "{{ context.testname }}")
		        
		    }
		});

		$(function(){
			$("#normalized-dropdown").change(function(){

				drawNormalizedGraph('best-sku-graph', "{{ context.testname }}", inverseApplied = true)
			})
		});

	});

</script>
	

{% endblock content %}