{% extends 'base.html' %}

{% block title %}
All Runs of {{ context.testname }}
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> FACTs Frontend
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#test-summary-div">Test Summary</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#outer-graph-div">Graphs</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#allRunsTable">All-Runs Table</a>
    		</li>
    	</ul>

        {{ super() }}

 	</nav>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center page-header">
		<h1 class="btn-link font-weight-bold display-4">{{ context.testname }}</h1>
	</div>

	<div id="test-summary-div" class="card border-info">
		<div class="card-header bg-transparent border-info font-weight-bolder" style="font-size: 25px;">Summary of the test</div>
		<div class="card-body text-secondary">
			<h5 class="font-weight-bold card-title">Summary</h5>
			<p class="card-text lead">{{context.test_summary.summary}}</p>
			<div class="collapse" id="fullSummaryCollapse">
				{% if context.test_summary.source_code_link %}
					<p><strong>Source Code Link:</strong> {{context.test_summary.source_code_link}} </p>
				{% endif %}
				{% if context.test_summary.type_of_workload %}
					<p><strong>Type of Workload:</strong> {{context.test_summary.type_of_workload}}</p>
				{% endif %}
				{% if context.test_summary.default_input %}
					<p><strong>Default Input:</strong> {{context.test_summary.default_input}}</p>
				{% endif %}
				{% if context.test_summary.latest_version %}
					<p><strong>Latest Version:</strong> {{context.test_summary.latest_version}}</p>
				{% endif %}

			</div>
		</div>
		<div class="card-footer bg-transparent border-info d-flex flex-row-reverse">
			<button class="btn btn-success font-weight-bold" type="button" data-toggle="collapse" data-target="#fullSummaryCollapse" aria-expanded="false" aria-controls="fullSummaryCollapse">
				View full Summary
			</button>
		</div>
	</div>
	
	<div class="card" id="outer-graph-div" style="background: #B7E9F7;">

		<!-- All Input filters div -->
		<div class="card-header bg-transparent p-0" id="input-filter-div">
			<h2>Input Filters</h2>
				{% for column in context.input_details %}
					{% set i = loop.index0 %}
					{% set options_list = context.input_details[column] | unique_list %}
					<div>
						<form>
							<label class = "h4" for="input-parameter-{{column}}">{{column}}</label>
							<select class="input-parameter-select form-control form-control-lg" name="input-parameter-{{column}}" id="input-parameter-{{column}}">
								<option value="None">None</option>
								{% for option in options_list %}
									{% if option == context.default_input_filters[i] %}
										<option value="option" selected>{{option}}</option>
									{% else %}
										<option value="option">{{option}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</form>		
					</div>
				{% endfor %}
		</div>

		<!-- SKU Comparison graph - For engineering team -->
		<div class="card bg-light border-info" id="engineering-graph-div">
			<div class="card-header bg-success text-white text-center" id="engineering-team-title"><h2 class="font-weight-bold">For Engineering Team</h2></div>
			<div id="clustered-graph"></div>

			<select data-toggle="tooltip" data-placement="bottom" title="Y - Parameter" id="yParameter" class="form-control form-control-lg" name="yParameter">
				<!-- TAKING PARAMETERS FROM INI FILE -->
				{% for qualifier in context.qualifier_list %}
					{% if loop.index0 == 0 %}
						<option value="{{ qualifier }}" selected="selected">{{ qualifier }}</option>
					{% else %}
						<option value="{{ qualifier }}">{{ qualifier }}</option>
					{% endif %}
				{% endfor %}
			</select>
			<p>vs</p>
			<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="X - Parameter" id="xParameter" class="form-control form-control-lg" name="xParameter">
				<option value="Scaling" selected="selected">Scaling</option>
				<option value="Kernel Version">Kernel Version</option>
				<option value="OS Version">OS Version</option>
				<option value="OS Name">OS Name</option>
				<option value="Firmware Version">Firmware Version</option>
				<option value="ToolChain Name">ToolChain Name</option>
				<option value="ToolChain Version">ToolChain Version</option>
				<option value="SMT">SMT</option>
				<option value="Cores">Cores</option>
				<!-- <option value="Corefreq">Corefreq</option> -->
				<option value="DDRfreq">DDRfreq</option>
				<option value="SKUID">SKUID</option>
				<option value="Hostname">Hostname</option>
				<!-- <option value="Flags">Flags</option> -->
			</select>

			<button id="download-comparison-graph" class="btn btn-primary font-weight-bold" onclick="downloadAsPng($('#yParameter option:selected').val() + '-vs-' + $('#xParameter option:selected').val(), 'clustered-graph')">Download as PNG</button>
			
		</div>

		<!-- BEST SKU Comparison graph - For Marketing and communications team -->
		<div class="card bg-light border-info" id="marketing-graph-div">
			<div class="card-header bg-success text-white text-center" id="marketing-team-title"><h2 class="font-weight-bold">For Marketing and Communication Team</h2></div>
			<div id="best-sku-graph"></div>

			<div id="absolute-radio-div" class="custom-control custom-radio">
				<input type="radio" name="typeOfGraph" id="absolute-radio-button" class="custom-control-input" checked="checked" value="Absolute">
				<label for="absolute-radio-button" class="custom-control-label">Absolute</label>
			</div>
			<div id="normalized-radio-div" class="custom-control custom-radio">
				<input type="radio" name="typeOfGraph" id="normalized-radio-button" class="custom-control-input" value="Normalized">
				<label for="normalized-radio-button" class="custom-control-label">Normalized</label>
			</div>
			<select id="normalized-dropdown" class="form-control form-control-lg" name="normalized-dropdown">

			</select>
			

			<button id="download-best-sku-graph-csv" class="btn btn-primary font-weight-bold">Download as CSV</button>
			<button id="download-best-sku-graph" class="btn btn-primary font-weight-bold" onclick="downloadAsPng($('#yParameter option:selected').val() + '-vs-' + $('#xParameter option:selected').val(), 'best-sku-graph')">Download as PNG</button>
			<button id="compare-best-sku-graph" type="button" class="btn btn-success font-weight-bold">Compare these Tests</button>
			<!-- Hidden form for Comparing Best SKU Graph -->
			<form action="/diff" method="GET" id="compare-best-sku-graph-form" style="display:none;">
			</form>

		</div>
	</div>

	<form action="/diff" id="compare-tests-form" method="GET">

		<div class='inline-block-child'>
			<table class="table table-hover" id="allRunsTable">
				<thead class="thead-dark">
					<tr>
						<th>Select to Compare</th>
						{% for column in context.data %}

							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<thead id="search-thead">
				</thead>

				<tbody>
					{% for row in range(context.no_of_rows) %}
						{% set i = loop.index0 %}
						<tr class="table-row">
							{% for key in context.data %}
								{% if loop.index0 == 0%}
									<td><input class="checkbox diff-checkbox" type="checkbox" id="diff-checkbox-{{context.data['originID'][i]}}" name="diff-checkbox-{{i}}" value="{{ context.data['originID'][i] }}"></td>
									<td class="originID table-cell"><a class="btn btn-lg btn-success font-weight-bold" href="/test-details/{{ context.data[key][i] }}">{{ context.data[key][i] }}</a></td>
								{% else %}
									<td class="table-cell"> {{ context.data[key][i] }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button type="button" id="download-all-results-table-csv" class="btn btn-primary font-weight-bold">Download as CSV</button>
		</div>
		
	</form>

	<!-- Modal -->
	<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="notification-title">Notification</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body" id="notification-text">
			The Notification
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- Hidden form for Downloading data as CSV -->
	<form action="/download_as_csv" method="POST" id="download-csv-form" style="display:none;">
	</form>

<script>
	$(".diff-checkbox").prop('checked', false)
	
	var $normalizedList = $("#normalized-dropdown");
	$normalizedList.hide();



	$(document).ready(function() {

	    // Setup - append a text input to each header cell
	    $('#allRunsTable thead tr').clone(true).appendTo( '#allRunsTable #search-thead' );
	    $('#allRunsTable #search-thead tr th').each( function (i) {
	    	if(i == 0)
	    		$(this).html( '<button id="diff-button" class="btn btn-primary font-weight-bold" type="button">Compare</button>' );
	    	else
	        {
	        	var title = $(this).text();
	        	$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
	        }
	 
	        $( 'input', this ).on( 'keyup change', function () {
	            if ( table.column(i).search() !== this.value ) {
	                table
	                    .column(i)
	                    .search( this.value )
	                    .draw();
	            }
	        });
	    } );
	 
	    var table = $('#allRunsTable').DataTable( {
	    	"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
	        orderCellsTop: true,
	        fixedHeader: true
	    });

	    // ajaxData is the object which is used to send data to the AJAX request
	    ajaxData = {}

	    //draw the first graph according to the selected values
		ajaxData.xParameter = $("#xParameter option:selected").val();
		ajaxData.yParameter = $("#yParameter option:selected").val();
		ajaxData.testname = "{{ context.testname }}"

		// Get the initial input filters list
		inputFiltersList = []
		$allInputFilters = $('.input-parameter-select')

		jQuery.each($allInputFilters, (index, value) => {
		    filter = $('option:selected', value)[0].innerHTML
		    inputFiltersList.push(filter)
		})

		ajaxData.inputFiltersList = inputFiltersList

	    //Function for drawing INITIAL comparison graph
	    sendAjaxRequest(ajaxData, url='/get_data_for_graph')

		// AJAX request to get_data_for_graph for redrawing the graph on "xParameter" changed event
		$(function(){
			$("#xParameter").change(function(){
				//update the xParameter value
				ajaxData.xParameter = $('option:selected', this).text()

				sendAjaxRequest(ajaxData, url='/get_data_for_graph')
			})
		});


		// AJAX request to get_data_for_graph for redrawing the graph on "xParameter" changed event
		$(function(){
			$("#yParameter").change(function(){
				//update the yParameter value
				ajaxData.yParameter = $('option:selected', this).text()
				
				sendAjaxRequest(ajaxData, url='/get_data_for_graph')
			})
		});

	    //Function for drawing Best SKU graph
	    bestSkuAjaxData = {'xParameter': 'SKUs', 'yParameter': "", 'testname' : "{{ context.testname }}"}
	    bestSkuAjaxData.inputFiltersList = inputFiltersList
	    sendAjaxRequest(bestSkuAjaxData, url='/best_sku_graph')

	    //Event handler on switching from "Absolute" to "Normalized" best_sku_graph and vice-versa
		$('input[type=radio][name=typeOfGraph]').change(function() {
		    if (this.value == 'Absolute') {
		    	var $normalizedList = $("#normalized-dropdown");
		    	$normalizedList.hide();
		    	sendAjaxRequest(bestSkuAjaxData, url='/best_sku_graph')
		        
		    }
		    else if (this.value == 'Normalized') {
		    	var $normalizedList = $("#normalized-dropdown");
		    	$normalizedList.show();

		    	drawNormalizedGraph('best-sku-graph', "{{ context.testname }}")
		        
		    }
		});

		$(function(){
			$("#normalized-dropdown").change(function(){

				drawNormalizedGraph('best-sku-graph', "{{ context.testname }}", alreadyNormalized = true)
			})
		});

		$('#diff-button').click(function(){
			// Get the checkboxes which are 'checked'
			$checkboxes = $('.diff-checkbox:checkbox:checked')
			
			if ( $checkboxes.length < 2) {
				// Alert showing the error
				$('#notification-title').html('Notification : <span class="badge badge-danger">Error</span>')
				$('#notification-text').html('You need to select atleast 2 checkboxes')
				$('#notificationModal').modal('show')
			}
			else {
				$('#compare-tests-form').submit()
			}
		})


	});


	$('#download-best-sku-graph-csv').click(function(){

		data = {
			'x': [],
			'y': [],
		}

		$bestSkuGraph = $('#best-sku-graph')

		for(i = 0; i < $bestSkuGraph[0].data.length; i++){
			data['x'].push(...$bestSkuGraph[0].data[i].x)
			data['y'].push(...$bestSkuGraph[0].data[i].y)
		}

		console.log("DATA")
		console.log(data)

		$form = $('#download-csv-form')

		downloadAsCsv($('#yParameter option:selected').val() +'-vs-'+ $('#xParameter option:selected').val(), data, $form)
	})

	$('#download-all-results-table-csv').click(function(){

		filename = "{{context.testname}}"

		data = {

		}

		$tableRows = $("#allRunsTable th")
		$table = $("#allRunsTable").DataTable()
		$allColumnsData = $table.columns({ filter : 'applied'}).data()

		for( i = 1; i < $tableRows.length/2; i++){
  			column = $tableRows[i].innerHTML

  			console.log(column)
  			if(i == 1)
  				data[column] = jQuery.map($allColumnsData[i], function( value, index ) {
									return jQuery(value).text()
  								});
  			else
  				data[column] = $allColumnsData[i]
  		}


		console.log("DATA")
		console.log(data)

		$form = $('#download-csv-form')

		downloadAsCsv(filename, data, $form)
	})

	$('.input-parameter-select').change(function(){

		inputFiltersList = []
		$allInputFilters = $('.input-parameter-select')

		jQuery.each($allInputFilters, (index, value) => {
		    filter = $('option:selected', value)[0].innerHTML
		    inputFiltersList.push(filter)
		})

		ajaxData.inputFiltersList = inputFiltersList
		sendAjaxRequest(ajaxData, url='/get_data_for_graph')
	
		console.log("SENDING AJAX REQUEST")
		console.log(ajaxData)

		bestSkuAjaxData.inputFiltersList = inputFiltersList
		sendAjaxRequest(bestSkuAjaxData, url='/best_sku_graph')
	})

	$('#compare-best-sku-graph').click(function(){
		// Get data from graph 
		$data = $('#best-sku-graph')[0].data
		
		// Append originIDs to hidden form
		jQuery.each($data, (index, value) => {
			$originID = $data[index].originID

			$('<input>').attr({
					'name':'diff-checkbox-'+index,
					'value':$originID,
				}).appendTo('#compare-best-sku-graph-form');
			})
		
		// Submit the form
		$('#compare-best-sku-graph-form').submit()
		
		// Empty the form contents
		$('#compare-best-sku-graph-form').empty()
	})


</script>
	

{% endblock content %}

