<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Home Page {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/datatables.min.css') }}"/>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.css') }}" />

	<script  src="{{ url_for('static', filename='js/lib/plotly-latest.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lib/jquery-3.4.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/lib/datatables.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='js/lib/popper.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
	{% block header %}
	{% endblock %}

	{% block navbar %}
	{% endblock %}

	{% if error %}
		{% block error %}
			<div class="alert alert-warning fade in alert-dismissible show" style="margin:0% 10%;">
 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true" style="font-size:20px">&times;</span>
  				</button>    
  				<h3><strong>Error: </strong> {{ error.message }}</h3>
			</div>
		{% endblock %}
	{% endif %}

	<div id="content">
		{% if context != None %}
			{% block content %}
			{% endblock %}
		{% endif %}
	</div>

	<!-- Return to Top Arrow -->
	<a href="javascript:" id="return-to-top"><img src="{{ url_for('static', filename='images/arrow-up.png') }}" width="250" height="100" class="img-fluid" alt=""></a>

<script>
	
	//for hiding navbar on scroll
	registerNavbarHideFn = function hideNavBar() {
	  var lastScrollTop = 0;
	  var $navbar = $('.navbar');

	  $(window).scroll(function(event){
	    var st = $(this).scrollTop();

	    if (st > lastScrollTop) { // scroll down	      
	      // use this to use CSS3 animation
	      $navbar.addClass("fade-out");
	      $navbar.removeClass("fade-in");
	      
	    } else { // scroll up
	      // use this to use CSS3 animation
	      $navbar.addClass("fade-in");
	      $navbar.removeClass("fade-out");
	      
	    }
	    lastScrollTop = st;
	  });
	};

	// ===== Scroll to Top ==== 
	$(window).scroll(function() {
	    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
	        $('#return-to-top').fadeIn(200);    // Fade in the arrow
	    } else {
	        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
	    }
	});
	$('#return-to-top').click(function() {      // When arrow is clicked
	    $('body,html').animate({
	        scrollTop : 0                       // Scroll to top of body
	    }, 500);
	});

</script>

</body>
</html>