{% extends 'base.html' %}

{% block title %}
Comparison of tests
{% endblock title %}


{% block content %}

<label id="checkbox-common"><input id="checkbox-common2" onclick="hideCommon(this)" type="checkbox" name="common" value="hide_common"> Hide Common Properties (to be improved)</label>
<h2 style="margin-left: 40%;">{{ context.testname | capitalize }}</h2>
<style>
	h2{
		font-weight: bold;
	}
</style>

<div class="all-tables">
	<!-- <div id="comparison-graph" style="width:600px;height:250px;"></div> -->

	<!-- ###############RESULTS############### -->
    <div>
    	<h2>Results</h2>
    	<table id="results-table" style = "clear:left;">
    		<tr>
    			{% for index_name in context.index_columns %}
    			<th style="background-color: grey;"></th>
    			{% endfor %}
    			{% for originID in context.originID_list %}
    				<th class="test-numbers-row" style="background-color: grey;" onclick="testDetails(this)">Test_{{ originID }}</th>
    			{% endfor %}
    		</tr>

    		<tr>
    			{% for column_name in context.results %}
    				<th>{{ column_name }}</th>
    			{% endfor %}
    		</tr>

    		<!-- For all rows -->
    		{% for i in range(context.results | no_of_rows ) %}
    			{% set i = loop.index0 %}
    			<tr>
    				{% for key in context.results %}
    					<td>{{ context.results[key][i] }}</td>
    				{% endfor %}
    			</tr>
    		{% endfor %}
    	</table>
	</div>


	<!-- A Loop for displaying ALL Comparison Tables -->
	<div>
		{% for i in range(context.parameter_lists | length) %}
		{% set tablename = table_name(context.parameter_lists.keys(), i) %}
		<h2>{{ tablename }}</h2>
		{% set tablename = tablename|lower %}

		<table class="comparison-table">
			<tr>
				<th></th>
				{% for t_no in context.originID_list %}
					<th style="font-weight: bold">Test_{{ t_no }}</th>
				{% endfor %}
			</tr>

			{% for param in context.parameter_lists[tablename~"_param_list"] %}
			<tr>
				<td class="param" style="font-weight: bold;"> {{ param }}</td>

				{% for dict in context.compare_lists[tablename~"_list"] %}
	                <td>{{ dict[ param ] }}</td>    
	            {% endfor %}
			</tr>
			{% endfor %}
		</table>
		{% endfor %}
	</div>

</div>

<script>
	$( document ).ready(function() {

    	$("#checkbox-common2").prop("checked", false);

    	drawGraph({{ context.comparable_results | tojson }})
});
</script>


{% endblock content %}