{% extends 'base.html' %}

{% block title %}
Comparison of tests
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home</a>
    		</li>

    		<!-- Link to results table -->
    		<li class="nav-item">
    			<a class="nav-link" href="#results-div">Results</a>
    		</li>

    		<!-- Link to all-other comparison-tables -->
			{% for i in range(context.parameter_lists | length) %}
			{% set tablename = table_name(context.parameter_lists.keys(), i) %}
	    		<li class="nav-item">
	    			<a class="nav-link" href="#comparison-table-div-{{i}}">{{ tablename }}</a>
	    		</li>    		
	    	{% endfor %}
    	</ul>

        {{ super() }}

	</nav>
{% endblock navbar %}

{% block content %}

	<div class="container-fluid text-center page-header">
		<h1 class="font-weight-bold display-4"><a class="btn-link font-weight-bold" href="/allruns/{{context.testname}}">{{ context.testname }}</a>-
		{% for originID in context.originID_list %}
			<a class="btn-link font-weight-bold" href="/test-details/{{originID}}">{{originID}}</a>
			{% if not loop.last %}
			 vs 
			{% endif %}
		{% endfor %}
		</h1>
	</div>	

<div class="all-tables d-flex flex-column container bg-light mt-5">
	<div class="ml-auto mb-5 mr-5">
		<button class="btn btn-outline-primary font-weight-bold" onclick="toggleCheckbox()"><input id="checkbox-common" type="checkbox" name="common" value="hide-common"> Hide Common Properties</button>
	</div>
	<!-- ###############RESULTS############### -->
    <div id="results-div" class="overflow-auto p-0 m-0" style="max-height: 100vh; overflow-y: auto;">
		<h2 class="bg-success text-center text-white font-weight-bold py-3 mb-5">Comparison of Results</h2>
    	<table class="table table-hover" id="results-table" style = "clear:left;">
    		<thead class="thead-dark">
	    		<tr>
	    			{% for index_name in context.index_columns %}
	    			<th></th>
	    			{% endfor %}
	    			{% for originID in context.originID_list %}
	    				<th class="test-numbers-row">Test_{{ originID }}</th>
	    			{% endfor %}
	    		</tr>
	    	</thead>

    		<tr>
    			{% for column_name in context.results %}
    				<th>{{ column_name }}</th>
    			{% endfor %}
    		</tr>

    		<!-- For all rows -->
    		{% for i in range(context.results | no_of_rows ) %}
    			{% set i = loop.index0 %}
    			<tr>
    				{% for key in context.results %}
    					<td>{{ context.results[key][i] }}</td>
    				{% endfor %}
    			</tr>
    		{% endfor %}
    	</table>
	</div>


	<!-- A Loop for displaying ALL Comparison Tables -->
	<div>
		<h2 class="bg-success text-center text-white font-weight-bold py-3">
			Comparison of System Details
		</h2>

		{% for i in range(context.parameter_lists | length) %}
		{% set tablename = table_name(context.parameter_lists.keys(), i) %}
		<div id="comparison-table-div-{{i}}">	
			<h2 class="text-center text-white bg-info font-weight-bold pb-2 mb-1">{{ tablename }}</h2>
			{% set tablename = tablename|lower %}

			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th></th>
						{% for t_no in context.originID_list %}
							<th style="font-weight: bold">Test_{{ t_no }}</th>
						{% endfor %}
					</tr>
				</thead>

				{% for param in context.parameter_lists[tablename~"_param_list"] %}
				<tr>
					<td class="param" style="font-weight: bold;"> {{ param }}</td>

					{% for dict in context.compare_lists[tablename~"_list"] %}
		                <td>{{ dict[ param ] }}</td>    
		            {% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		{% endfor %}
	</div>

</div>

<script>
	$( document ).ready(function() {
    	$("#checkbox-common").prop("checked", false);
	});


	function toggleCheckbox(){
		state = $('#checkbox-common').prop('checked');
		$('#checkbox-common').prop('checked', !state);

		//hide the common properties
		hideCommon();
	}
</script>

{% endblock content %}

