{% extends 'base.html' %}

{% block title %}
Environment Details
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> FACTs Frontend
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#hw-details-div">HW-Details</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#toolchain-details-div">ToolChain</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#os-details-div">OS & Kernel</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#node-details-div">Node</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#bootenv-details-div">BootEnv</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#ram-details-div">RAM</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#disk-details-div">Disk</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#nic-details-div">NIC</a>
    		</li>
    		
    	</ul>

    	<!-- Go to Benchmark Dropdown -->
    	<ul class="navbar-nav font-weight-normal ml-auto">
			<div class="dropdown p-0 m-0">
				<button id="reference-for-normalized" type="button" class="btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
				Go to Benchmark </button>
				<div id="reference-for-normalized-dropdown" class="dropdown-menu dropdown-menu-right" style="height: auto; max-height: 500px;overflow-x: hidden;">
					<h3 class="dropdown-header font-weight-bold mt-1 mb-2">HPC BENCHMARKS</h3>
					{% for benchmark in all_tests_data.hpc_benchmarks_list %}
						<button class="dropdown-item"><a href="/allruns/{{benchmark}}" class="btn btn-dark text-white">{{benchmark}}</a></button>
					{% endfor %}
					<h3 class="dropdown-header font-weight-bold mt-5 mb-2">CLOUD BENCHMARKS</h3>
					{% for benchmark in all_tests_data.cloud_benchmarks_list %}
						<button class="dropdown-item"><a href="/allruns/{{benchmark}}" class="btn btn-dark text-white">{{benchmark}}</a></button>
					{% endfor %}
				</div>
			</div>
    	</ul>

	</nav>
{% endblock %}

{% block content %}
	<h1 class="text-center font-weight-bold py-3 my-3 display-4">
		Environment Details - <a class="btn-link font-weight-bold" href="/test-details/{{context.originID}}">{{context.originID}}</a>
	</h1>

	<div class="d-flex flex-column container bg-light mt-5">

		<div id="hw-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">HW Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.hwdetails %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>
					
				<tr>
					{% for col in context.hwdetails %}
						<td>
							{{ context.hwdetails[col][0] }}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>

		<div id="toolchain-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">Toolchain Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.toolchain %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>
					
				<tr>
					{% for col in context.toolchain %}
						<td>
							{{ context.toolchain[col][0] }}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>

		<div id="os-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">OS and Kernel Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.ostunings %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>
					
				<tr>
					{% for col in context.ostunings %}
						<td>
							{{ context.ostunings[col][0] }}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>

		<div id="node-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">Node Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.node %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>

				<tr>
					{% for col in context.node %}
						<td>
							{{ context.node[col][0] }}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>

		<div id="bootenv-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">Run Time BootEnv Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.bootenv %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>

				<tr>
					{% for col in context.bootenv %}
						<td>
							{{ context.bootenv[col][0] }}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>
		
		<div id="ram-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">RAM Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.ram %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>

				{% for i in range(context.ram | no_of_rows) %}
					<tr>
						{% for col in context.ram %}
						<td>
							{{ context.ram[col][i] }}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>

		<div id="disk-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">Disk Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.disk %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>

				{% for i in range(context.disk | no_of_rows) %}
					<tr>
						{% for col in context.disk %}
						<td>
							{{ context.disk[col][i] }}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>

		<div id="nic-details-div" class='environment-details'>
			<h2 class="text-left font-weight-bold pb-2">NIC Details</h2>
			<table class="table table-hover">
				<thead class="thead-dark">
					<tr>
						{% for col in context.nic %}
							<th>
								{{ col }}
							</th>
						{% endfor %}
					</tr>
				</thead>

				{% for i in range(context.nic | no_of_rows) %}
					<tr>
						{% for col in context.nic %}
						<td>
							{{ context.nic[col][i] }}
						</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

<script>

	$(document).ready(function() {
		//hide/show the navbar on scroll down/up
		registerNavbarHideFn()
	});

</script>

{% endblock %}