{% extends 'base.html' %}

{% block title %}
Reports Generation 
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> FACTs Frontend
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home Page</a>
    		</li>
    	</ul>

	{{ super() }}

	</nav>
{% endblock %}

{% block content %}

	<div class="container-fluid text-center page-header">
		<h1 class="font-weight-bold display-4">Generate reports</h1>
	</div>

	<div id="reports-page-info" class="card border-info">
		<div class="card-header bg-transparent border-info font-weight-bolder" style="font-size: 25px;">Information</div>
		<div class="card-body text-secondary">
			<h5 class="font-weight-bold card-title">About page and How to use</h5>
			<p class="card-text lead">Reports generation page does "SOMETHING".</p>
			<p>Click "View more" to know how to use</p>
			<div class="collapse" id="fullSummaryCollapse">
					<p><strong>HOW TO USE<br></strong> Select the tests you want.  </p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
					</p>
			</div>
		</div>
		<div class="card-footer bg-transparent border-info d-flex flex-row-reverse">
			<button class="btn btn-success font-weight-bold" type="button" data-toggle="collapse" data-target="#fullSummaryCollapse" aria-expanded="false" aria-controls="fullSummaryCollapse">
				View more
			</button>
		</div>
	</div>

	<!-- Form for Generating report in .xslx format -->
	<form action="/generate_reports" method="POST" id="generate-reports-form">

		<!-- Filter by Label OR Benchmark (hidden input field) -->
		<input type="hidden" id="filter-by-label-or-benchmark" name="filter-by-label-or-benchmark" value="label">

		<!-- Filter by Labels/Testname Block -->
		<div class="card container mt-5">
			<div class="card-body">
				<h4 class="card-title" id="filter-by-testname-label-title">Filter by Label</h4>
				<p class="card-text lead text-secondary" id="filter-by-testname-label-description">Select the labels whose corresponding benchmarks you want in the final report</p>
				<hr>

				<!-- The div which collapses -->
				<div class="collapse" id="filter-by-testname-label-collapse">

					<!-- The inner Card -->
					<div class="card text-center">
						<div class="card-header" style="background: azure;">
							<ul class="nav nav-pills mb-3" id="benchmark-filter-navbar" role="tablist">
								<li class="nav-item">
									<a class="nav-link active h5" id="filter-by-label-pill" data-toggle="pill" href="#filter-by-label-div" role="tab" aria-controls="filter-by-label-div" aria-selected="true">Filter Labels</a>
								</li>
								<li class="nav-item">
									<a class="nav-link h5" id="filter-by-testname-pill" data-toggle="pill" href="#filter-by-testname-div" role="tab" aria-controls="filter-by-testname-div" aria-selected="false">Filter Benchmarks</a>
								</li>
							</ul>
						</div>
						<div class="card-body" style="max-height:100vh; overflow-y: scroll;">

							<!-- Filter labels tab -->
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="filter-by-label-div" role="tabpanel" aria-labelledby="filter-by-label-pill">
									<h4 class="card-title">List of labels</h4>

									<!-- Live search labels textbox -->
									<input type="text" class="text-input form-control form-control-lg" id="live-search-labels-textbox" placeholder="Search Label" value="" />

									<button type="button" class="btn btn-success mt-3" id="filter-labels-select-all-button">Select All</button>
									<button type="button" class="btn btn-danger mt-3" id="filter-labels-clear-all-button">Clear All</button>
									<div class="d-flex container-fluid flex-wrap">
										{% for label in all_tests_data.filter_labels_list %}
											<div class="col filter-labels-checkbox-div">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input filter-labels-checkbox-checkbox" id="filter-labels-list-{{label}}" name="filter_labels_list" value="{{label}}">
													<label class="custom-control-label filter-labels-checkbox-label" for="filter-labels-list-{{label}}">{{label}}</label>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>

								<!-- Filter by testname tab -->
								<div class="tab-pane fade" id="filter-by-testname-div" role="tabpanel" aria-labelledby="filter-by-testname-pill">
									<h4 class="card-title">List of Benchmarks</h4>

									<!-- Live search benchmark textbox -->
									<input type="text" class="text-input form-control form-control-lg" id="live-search-testname-textbox" placeholder="Search Benchmark Name" value="" />

									<!-- HPC Benchmarks list -->
									<h4 class="bg-info p-3 mt-3 mb-0 text-white font-weight-bold">HPC BENCHMARKS</h4>
									<button type="button" class="btn btn-success mt-3" id="filter-testname-hpc-select-all-button">Select All</button>
									<button type="button" class="btn btn-danger mt-3" id="filter-testname-hpc-clear-all-button">Clear All</button>
									<div class="d-flex container-fluid flex-wrap">
										{% for benchmark in all_tests_data.hpc_benchmarks_list %}
											<div class="col filter-testname-checkbox-div">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input filter-testname-checkbox-hpc-checkbox" id="filter-testname-list-{{benchmark}}" name="filter_testname_list" value="{{benchmark}}">
													<label class="custom-control-label filter-testname-checkbox-label" for="filter-testname-list-{{benchmark}}">{{benchmark}}</label>
												</div>
											</div>
										{% endfor %}
									</div>

									<!-- Cloud Benchmarks list -->
									<h4 class="bg-info p-3 mt-3 mb-0 text-white font-weight-bold">CLOUD BENCHMARKS</h4>
									<button type="button" class="btn btn-success mt-3" id="filter-testname-cloud-select-all-button">Select All</button>
									<button type="button" class="btn btn-danger mt-3" id="filter-testname-cloud-clear-all-button">Clear All</button>
									<div class="d-flex container-fluid flex-wrap">
										{% for benchmark in all_tests_data.cloud_benchmarks_list %}
											<div class="col filter-testname-checkbox-div">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input filter-testname-checkbox-cloud-checkbox" id="filter-testname-list-{{benchmark}}" name="filter_testname_list" value="{{benchmark}}">
													<label class="custom-control-label filter-testname-checkbox-label" for="filter-testname-list-{{benchmark}}">{{benchmark}}</label>
												</div>
											</div>
										{% endfor %}

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Card footer -->
			<div class="card-footer bg-transparent border-light d-flex flex-row-reverse">
				<!-- Button which triggers the collapse -->
				<button class="btn btn-primary font-weight-bold" type="button" data-toggle="collapse" data-target="#filter-by-testname-label-collapse" aria-expanded="false" aria-controls="filter-by-testname-label-collapse">
					Click here to view filters by Labels & Benchmark names
				</button>
			</div>
		</div>

		<!-- Filters for Best Results, Top 5, Best of Last quarter, etc. -->
		<div class="card container mt-5">
			<div class="card-body">
				<h4 class="card-title">Best Results</h4>
				<p class="card-text lead text-secondary" id="best-results-filter-description">Click the button if you want to see the best results of the selected labels</p>
				<hr>

				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="best-results-radio1" name="best-results-radio" value="best-results" class="custom-control-input best-results-radio" checked>
					<label class="custom-control-label h5" for="best-results-radio1">Best Results</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="best-results-radio2" name="best-results-radio" value="top-5" class="custom-control-input best-results-radio">
					<label class="custom-control-label h5" for="best-results-radio2">TOP 5</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="best-results-radio3" name="best-results-radio" value="" class="custom-control-input best-results-radio">
					<label class="custom-control-label h5" for="best-results-radio3">All Results</label>
				</div>
			</div>
			<div class="card-footer bg-transparent d-flex">
				<button id='clear-best-results-filter-button' class='btn btn-secondary' type='button'>Clear selection</button>
			</div>	
		</div>

		<!-- Other Specific filters Card -->
		<div id="advanced-search-options" class="card container mt-5">
			<!-- Card Body -->
			<div class="card-body">
				<h4 class="card-title">Advanced Search Options</h4>
				<p class="card-text lead text-secondary">Click the button if you want to apply more specific filters</p>
				<hr>
				<!-- The div which collapses -->
				<div class="collapse" id="advanced-search-collapse">
					<div class="container-fluid">
						<h4 class="text-secondary">Specify what columns you want to see, and which records would qualify.</h4>
					</div>

					<div class="row px-1 align-items-center" style="background: azure;">
							<div class="col-sm">
								<h5>Parameter</h5>
							</div>
							<div class="col-sm">
								<h5>Display</h5>
							</div>
							<div class="col-sm">
								<h5>Criteria-Option</h5>
							</div>
							<div class="col-sm">
								<h5>Criteria</h5>
							</div>
					</div>
					<div class="w-100 m-0 p-0" style="background: azure;">
						<hr class="m-0 p-0" style="color: black; background : black;" >
					</div>
					{% for param in context.param_list %}
						{% if param.name == 'Kernel Version' or param.name == 'Firmware Version' or param.name == 'SMT' %}
							<div class="w-100 m-0 p-0" style="background: azure;">
								<hr class="m-0 p-0" style="color: black; background : black;" >
							</div>
						{% endif %}
						<div class="row px-1 align-items-center" style="background: azure;">
							<div class="col-sm">
								<h5>{{param.name}}</h5>
							</div>
							<!-- Display dropdown Yes/No -->
							<div class="col-sm">
								<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Display this parameter's column in the final Excel Sheet (Yes/No)" id="disp-{{param.name}}" class="form-control " name="disp-{{param.name}}">
									{% if param.display_by_default == "Yes" %}
                                        <option value="Yes" selected="selected">Yes</option>
									    <option value="No">No</option>
                                    {% else %}
                                        <option value="Yes">Yes</option>
                                        <option value="No" selected="selected">No</option>
                                    {% endif %}
								</select>
							</div>

							<!-- Criteria-op according to data_type -->
							<div class="col-sm">
								{% if param.data_type == "string" %}
									<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Select option" id="criteria-op-{{param.name}}" class="form-control " name="criteria-op-{{param.name}}">
										{% if 'criteria_op_list' in param %}
											{% for i in range(param.criteria_op_list | length) %}
												{% if i == 0 %}
													<option value="{{ param.criteria_op_list[i] }}" selected="selected">{{ param.criteria_op_list[i] }}</option>
												{% else %}
													<option value="{{ param.criteria_op_list[i] }}">{{ param.criteria_op_list[i] }}</option>
												{% endif %}
											{% endfor %}
										{% else %}
											<option value="matches" selected="selected">matches</option>
											<option value="does not match">does not match</option>
										{% endif %}
									</select>
								{% elif param.data_type == "numeric" %}
									<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Select option" id="criteria-op-{{param.name}}" class="form-control " name="criteria-op-{{param.name}}">
										<option value="less than">less than</option>
										<option value="equals" selected="selected">equals</option>
										<option value="greater than">greater than</option>
									</select>
								{% elif param.data_type == "date" %}
									<div class="d-flex m-0 p-0">
										<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Select option" id="criteria-op-{{param.name}}" class="form-control w-50 px-2" name="criteria-op-{{param.name}}">
											<option value="before">before</option>
											<option value="during">during</option>
											<option value="since" selected="selected">since</option>
										</select>
										<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Select month" id="criteria2-{{param.name}}" class="form-control w-50 px-2" name="criteria2-{{param.name}}">
											<option value="Jan">Jan<option value="Feb">Feb<option value="Mar">Mar<option value="Apr">Apr
											<option value="May">May<option value="Jun">Jun<option value="Jul">Jul<option value="Aug">Aug
											<option value="Sep">Sep<option value="Oct">Oct<option value="Nov">Nov<option value="Dec">Dec
										</select>
									</div>
								{% elif param.input_type == "hidden" %}
									<div class="col-sm py-0 m-0">
										<input type="hidden"  title="" class="form-control" id="criteria-op-{{param.name}}" name="criteria-op-{{param.name}}" value="">
									</div>
								{% endif %}
							</div>

							<!-- Criteria according to input_type -->
							{% if param.input_type == "dropdown" %}
								<div class="col-sm">
									<div class="d-flex m-0 p-0">
										<label class="px-3" for="criteria-{{param.name}}">{{param.dropdown_label}}</label>
										<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="Select one" id="criteria-{{param.name}}" class="form-control w-50" name="criteria-{{param.name}}">
											{% for item in param.dropdown_values_list %}
												<option value="{{item}}">{{item}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							{% elif param.input_type == "dropdown multiple select" %}
								<div class="col-sm py-0 m-0">
									<select data-toggle="tooltip" data-placement="bottom" data-container="body" title="CTRL + Click to select multiple" id="criteria-{{param.name}}" class="form-control" multiple="multiple" name="criteria-{{param.name}}" required>
										{% for item in param.dropdown_values_list %}
											{% if item == "" %}
												<option value="{{item}}" selected>{{item}}</option>
											{% else %}
												<option value="{{item}}">{{item}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							{% elif param.input_type == "text" %}
								<div class="col-sm py-0 m-0">
									<input type="text"  data-toggle="tooltip" data-placement="bottom" data-container="body" title="" class="form-control" id="criteria-{{param.name}}" name="criteria-{{param.name}}" placeholder="Enter value (Optional)">
								</div>
							{% elif param.input_type == "hidden" %}
								<div class="col-sm py-0 m-0">
									<input type="hidden"  title="" class="form-control" id="criteria-{{param.name}}" name="criteria-{{param.name}}" value="">
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>

			<!-- Card footer -->
			<div class="card-footer bg-transparent border-light d-flex flex-row-reverse">
				<!-- Button which triggers the collapse -->
				<button class="btn btn-primary font-weight-bold" type="button" data-toggle="collapse" data-target="#advanced-search-collapse" aria-expanded="false" aria-controls="advanced-search-collapse">
					Click here to view Advanced Filters
				</button>
			</div>

		</div>

		<!-- Filename (hidden input field) -->
		<input type="hidden" id="filename" name="filename" value="Sample Filename">
		<!-- Timestamp (hidden input field) -->
		<input type="hidden" id="local-timestamp" name="local-timestamp" value="">


		<!-- Generate reports (Submit form) button -->
		<div class="text-center">
			<button type="submit" id="generate-reports-button" class="btn btn-lg btn-success font-weight-bold mr-5 my-5">Generate Reports</button>
		</div>

	</form>

	<script>
    
        $(document).ready(function() {
            console.log("Reports generation page loaded")
			$('#generate-reports-form')[0].reset()

			localTimestamp = new Date()
			$('#local-timestamp').val(localTimestamp.toLocaleString())
        })

        $("#live-search-labels-textbox").keyup(function(){
			// Retrieve the input field text
			var filter = $(this).val();

			// Loop through the labels list
			$(".filter-labels-checkbox-div .filter-labels-checkbox-label").each(function(){

				// If the list item does not contain the text phrase fade it out
				if ($(this).text().search(new RegExp(filter, "i")) < 0) {
					$(this).fadeOut();
					$(this).parent().parent().css("display", "none");

				// Show the list item if the phrase matches
				} else {
					$(this).parent().parent().css("display", "");
					$(this).show();

				}
			});
		});

        $("#live-search-testname-textbox").keyup(function(){
			// Retrieve the input field text
			var filter = $(this).val();

			// Loop through the testnames list
			$(".filter-testname-checkbox-div .filter-testname-checkbox-label").each(function(){

				// If the list item does not contain the text phrase fade it out
				if ($(this).text().search(new RegExp(filter, "i")) < 0) {
					$(this).fadeOut();
					$(this).parent().parent().css("display", "none");

				// Show the list item if the phrase matches
				} else {
					$(this).parent().parent().css("display", "");
					$(this).show();

				}
			});
		});

		// Functions which change the value of hidden input field "filter-by-label-or-benchmark"
		// And "best-results-filter-description"
		// according to which tab is active 
		$('#filter-by-label-pill').click(function(){
			console.log("Filtering by label")
			$('#filter-by-label-or-benchmark').val("label")
			$('#best-results-filter-description').html("Click the button if you want to see the best results of the selected labels")

			$('#filter-by-testname-label-title').html("Filter by Label")
			$('#filter-by-testname-label-description').html("Select the labels whose corresponding benchmarks you want in the final report")
		})

		$('#filter-by-testname-pill').click(function(){
			console.log("Filtering by Testname")
			$('#filter-by-label-or-benchmark').val("testname")
			$('#best-results-filter-description').html("Click the button if you want to see the best results of the selected benchmarks")

			$('#filter-by-testname-label-title').html("Filter by Benchmark Name")
			$('#filter-by-testname-label-description').html("Select the benchmarks you want in the final report")
		})

		// On click Functions for all "Select all" buttons
		$('#filter-labels-select-all-button').click(function() {
			$('.filter-labels-checkbox-checkbox').each(function(){
				$(this).prop("checked", true);
			})
		})

		$('#filter-testname-hpc-select-all-button').click(function() {
			$('.filter-testname-checkbox-hpc-checkbox').each(function(){
				$(this).prop("checked", true);
			})
		})

		$('#filter-testname-cloud-select-all-button').click(function() {
			$('.filter-testname-checkbox-cloud-checkbox').each(function(){
				$(this).prop("checked", true);
			})
		})

		// On click Functions for all "Clear all" buttons
		$('#filter-labels-clear-all-button').click(function() {
			$('.filter-labels-checkbox-checkbox').each(function(){
				$(this).prop("checked", false);
			})
		})

		$('#filter-testname-hpc-clear-all-button').click(function() {
			$('.filter-testname-checkbox-hpc-checkbox').each(function(){
				$(this).prop("checked", false);
			})
		})

		$('#filter-testname-cloud-clear-all-button').click(function() {
			$('.filter-testname-checkbox-cloud-checkbox').each(function(){
				$(this).prop("checked", false);
			})
		})

		$('.best-results-radio').click(function() {
			$('#clear-best-results-filter-button').prop("disabled", false)

		})

		$('#clear-best-results-filter-button').click(function() {
			$('.best-results-radio').prop("checked", false)
			$('#clear-best-results-filter-button').prop("disabled", true)
		})

        function generateReports(filename, data, $form){
            data_string = JSON.stringify({ 'data': data, 'filename': filename})
            $form.append($("<input name= 'data' type= 'text' value = '" + data_string + "'/>"))

            console.log($form)
            $form.submit()

            // Clear the contents of the form
            $form.empty()
        }

        // $('#generate-reports-button').click(function(){
        //     console.log("Sending request for reports generation")

        //     $form = $('#generate-reports-form')
        //     filename = 'Sample Excel Report'

        //     data = {'Somekey': 'Somevalue'}

        //     generateReports(filename, data, $form)

        // })
    </script>	

{% endblock %}
