{% extends 'base.html' %}

{% block title %}
Secret All Runs
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> FACTs Frontend
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#all-runs-table-title">All-Runs Table</a>
    		</li>
    	</ul>

        {{ super() }}

 	</nav>
{% endblock %}

{% block content %}
	{% if context %}
		{% if keyerror %}
			{% block keyerror %}
				<div class="alert alert-danger fade in alert-dismissible show" style="margin:0% 10%;">
	 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    				<span aria-hidden="true" style="font-size:20px">&times;</span>
	  				</button>    
	  				<h3><strong>Error: </strong> {{ keyerror.message }}</h3>
				</div>
			{% endblock %}
		{% endif %}


		{% if success %}
			{% block success %}
				<div class="alert alert-success fade in alert-dismissible show" style="margin:0% 10%;">
	 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    				<span aria-hidden="true" style="font-size:20px">&times;</span>
	  				</button>
	  				<h3><strong>Success! </strong>{{ success.message }}</h3>
				</div>
			{% endblock %}
		{% endif %}

		<h1 class="text-center">{{ context.testname }}</h1>

		<div class="secret-grid my-5">
			<pre>
						   _____                    _     _____                                                                 
						  / ____|                  | |   |  __ \                                                                
						 | (___   ___  ___ _ __ ___| |_  | |__) |_ _  __ _  ___                                                 
						  \___ \ / _ \/ __| '__/ _ \ __| |  ___/ _` |/ _` |/ _ \                                                
						  ____) |  __/ (__| | |  __/ |_  | |  | (_| | (_| |  __/                                                
						 |_____/ \___|\___|_|  \___|\__| |_|   \__,_|\__, |\___|                                                
						                                              __/ |                                                     
						                                              |___/

						   ____        _          __             ________ _ _         __  __                _                   
						  / __ \      | |        / _|           |  ____| (_) |       |  \/  |              | |                  
						 | |  | |_ __ | |_   _  | |_ ___  _ __  | |__  | |_| |_ ___  | \  / | ___ _ __ ___ | |__   ___ _ __ ___ 
						 | |  | | '_ \| | | | | |  _/ _ \| '__| |  __| | | | __/ _ \ | |\/| |/ _ \ '_ ` _ \| '_ \ / _ \ '__/ __|
						 | |__| | | | | | |_| | | || (_) | |    | |____| | | ||  __/ | |  | |  __/ | | | | | |_) |  __/ |  \__ \
						  \____/|_| |_|_|\__, | |_| \___/|_|    |______|_|_|\__\___| |_|  |_|\___|_| |_| |_|_.__/ \___|_|  |___/
						                  __/ |                                                                                 
						                 |___/                                                                                  

			</pre>
		</div>

		<div id="all-runs-table-title" class="mt-5 container-fluid">
			<hr class="bg-secondary container-fluid">
			<h2 class="mb-2">All Runs of {{ context.testname }}</h2>
			<p class="lead font-weight-normal text-secondary">List of all originIDs, their data, and 'isvalid' field
			<br>
			</p>
		</div>
	

		<div class='inline-block-child ml-0'>
			<div class="d-flex mb-0 pb-0">
				<!-- Select all button -->
				<button id="select-all-visible" class="btn btn-lg btn-success mx-3" type="button"
				data-toggle="tooltip" data-placement="bottom" data-container="body" 
				title="Click to select all the originIDs which are currently visible in the Table">
				Select all visible
				</button>

				<!-- Clear all Button -->
				<button id="clear-all-visible" class="btn btn-lg btn-danger mx-3" type="button"
				data-toggle="tooltip" data-placement="right" data-container="body" 
				title="Click to clear all the Visible selections">
				Clear all
				</button>
			</div>
			<table id="allRunsTable" class="table table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Select to Validate/Invalidate</th>
						{% for column in context.data %}

							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>

				<thead id="search-thead">
				</thead>

				<tbody>
					{% for row in range(context.no_of_rows) %}
						{% set i = loop.index0 %}
						<tr class="table-row">
							{% for key in context.data %}
								{% if loop.index0 == 0%}
									<td>
										<div class="custom-control custom-checkbox originID-checkbox-div">
											<input type="checkbox" class="custom-control-input originID-checkbox" id="checkbox-{{context.data[key][i]}}" name="checkbox-{{i}}" value="{{ context.data[key][i] }}"">
											<label class="custom-control-label" for="checkbox-{{context.data[key][i]}}"></label>
										  </div>
									</td>
									<td class="originID table-cell"><a class="btn btn-lg btn-success font-weight-bold" href="/test-details/secret/{{ context.data[key][i] }}">{{ context.data[key][i] }}</a></td>
								{% else %}
									<td class="table-cell"> {{ context.data[key][i] }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Error Notification Modal -->
		<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			
				<!-- Modal Content -->
				<div class="modal-content">
					<!-- Header -->
					<div class="modal-header">
						<h5 class="modal-title" id="notification-title">Notification</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<!-- Body -->
					<div class="modal-body" id="notification-text">
					The Notification
					</div>
					<!-- Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Confirmation Modal -->
		<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-label" aria-hidden="true">
			<div class="modal-dialog" role="document">

				<!-- Modal Content -->
				<div class="modal-content">
					<!-- Header -->
					<div class="modal-header">
						<h5 class="modal-title" id="confirmation-modal-header"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<!-- Body -->
					<form id="confirmation-modal-form">
						<div class="modal-body">							
							<div class="form-group">
								<label for="modal-origin-id" class="col-form-label">originIDs</label>
								<textarea class="form-control border-0 bg-light text-wrap" id="modal-origin-id" readonly="readonly"></textarea>
							</div>
							<div class="form-group">
								<label for="modal-secret-key" class="col-form-label">Secret Key</label>
								<input type="password" placeholder="Enter Secret Key" class="form-control" id="modal-secret-key">
							</div>
							<div id="error-message" class="alert alert-danger">
								Please fill out this field
							</div>
						</div>
						<!-- Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        				<button type="button" class="btn btn-primary" id="confirm-button">Confirm</button>
						</div>
					</form>
					
				</div>
	    </div>

		<!-- Hidden form for Validating/ Invalidating -->
		<form action="/mark-origin-id-invalid" method="POST" id="mark-origin-id-invalid" style="display:none;">
		</form>	

	{% else %}
		<form action="/allruns/secret/{{testname.name}}" method="POST">
			<div class="secret-grid">
				<pre>
							   _____                    _     _____                                                                 
							  / ____|                  | |   |  __ \                                                                
							 | (___   ___  ___ _ __ ___| |_  | |__) |_ _  __ _  ___                                                 
							  \___ \ / _ \/ __| '__/ _ \ __| |  ___/ _` |/ _` |/ _ \                                                
							  ____) |  __/ (__| | |  __/ |_  | |  | (_| | (_| |  __/                                                
							 |_____/ \___|\___|_|  \___|\__| |_|   \__,_|\__, |\___|                                                
							                                              __/ |                                                     
							                                              |___/

							   ____        _          __             ________ _ _         __  __                _                   
							  / __ \      | |        / _|           |  ____| (_) |       |  \/  |              | |                  
							 | |  | |_ __ | |_   _  | |_ ___  _ __  | |__  | |_| |_ ___  | \  / | ___ _ __ ___ | |__   ___ _ __ ___ 
							 | |  | | '_ \| | | | | |  _/ _ \| '__| |  __| | | | __/ _ \ | |\/| |/ _ \ '_ ` _ \| '_ \ / _ \ '__/ __|
							 | |__| | | | | | |_| | | || (_) | |    | |____| | | ||  __/ | |  | |  __/ | | | | | |_) |  __/ |  \__ \
							  \____/|_| |_|_|\__, | |_| \___/|_|    |______|_|_|\__\___| |_|  |_|\___|_| |_| |_|_.__/ \___|_|  |___/
							                  __/ |                                                                                 
							                 |___/                                                                                  

				</pre>

					<button class="btn btn-success">Click here to ENTER!</button>
			</div>
		</form>

	{% endif %}

	<script>
		$(".originID-checkbox").prop('checked', false)

		$(document).ready(function() {
		    // Setup - append a text input to each header cell
			$('#allRunsTable thead tr').clone(true).appendTo( '#allRunsTable #search-thead' );
		    $('#allRunsTable #search-thead tr th').each( function (i) {
		    	if(i == 0)
					// Buttons to mark originIDs valid/invalid
		    		$(this).html( `	
					<div class="d-inline-flex flex-column p-0 m-0">
						<button id="invalidate-tests" class="btn btn-danger" type="button"
						data-toggle="tooltip" data-placement="right" data-container="body" 
						title="Click to mark the selected originIDs as Invalid">
						Mark as Invalid
						</button>

						<button id="validate-tests" class="btn btn-info mt-4" type="button"
						data-toggle="tooltip" data-placement="right" data-container="body" 
						title="Click to mark the selected originIDs as Valid">
						Mark as Valid
						</button>
					</div>
				`);
		    	else
		        {
		        	var title = $(this).text();
		        	$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
		        }
		 
		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        });
		    } );
		 
		    var table = $('#allRunsTable').DataTable( {
		    	"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
		        orderCellsTop: true,
		        fixedHeader: true
		    });

			// Necessary for showing tooltip on above buttons
			$("[data-toggle='tooltip']").tooltip();

			// Invalidate button clicked handler function 
			$('#invalidate-tests').click(invalidateTests)

			// Validate button clicked handler function 
			$('#validate-tests').click(validateTests)
		})

		// Toggle checkbox on div clicked
		$('.originID-checkbox-div').on('click', function(){
			var checkbox = $(this).children('input[type="checkbox"]');
			checkbox.prop('checked', !checkbox.prop('checked'));
		});

		// Selects all visible checkboxes
		$('#select-all-visible').click(() => {
			$(".originID-checkbox").prop('checked', true)
		})

		// Clears all visible checkboxes
		$('#clear-all-visible').click(() => {
			$(".originID-checkbox").prop('checked', false)
		})

		data = {}

		// Invalidate button clicked handler function 
		function invalidateTests(){
			// Get the checkboxes which are 'checked'
			originIDs = $('.originID-checkbox:checkbox:checked')
			originIDs = Array.from(originIDs)
			// Get values i.e. corresponding originIDs
			originIDs = originIDs.map(originID => originID.value)

			if ( originIDs.length < 1) {
				// Alert showing the error
				$('#notification-title').html('Notification : <span class="badge badge-danger">Error</span>')
				$('#notification-text').html('You need to select atleast 1 checkbox')
				$('#notificationModal').modal()
			}
			else {
				// Fill data into the object
				data = {
					testname : "{{ context.testname }}",
					originIDs : originIDs.join(),
					valid : 0,
				}

				// Dynamically make the Confirmation Modal
				$('#error-message').hide()
				$('#confirmation-modal-header').html('Confirm Invalidation of the following originIDs?')
				$("#modal-origin-id").val(originIDs.join())
				$('#modal-secret-key').val("")
				$("#confirmation-modal").modal();
			}
		}

		// Validate button clicked handler function 
		function validateTests(){
			// Get the checkboxes which are 'checked'
			originIDs = $('.originID-checkbox:checkbox:checked')
			originIDs = Array.from(originIDs)
			// Get values i.e. corresponding originIDs
			originIDs = originIDs.map(originID => originID.value)

			if ( originIDs.length < 1) {
				// Alert showing the error
				$('#notification-title').html('Notification : <span class="badge badge-danger">Error</span>')
				$('#notification-text').html('You need to select atleast 1 checkbox')
				$('#notificationModal').modal()
			}
			else {
				// Fill data into the object
				data = {
					testname : "{{ context.testname }}",
					originIDs : originIDs.join(),
					valid : 1,
				}

				// Dynamically make the Confirmation Modal
				$('#error-message').hide()
				$('#confirmation-modal-header').html('Confirm Validation of the following originIDs?')
				$("#modal-origin-id").val(originIDs.join())
				$('#modal-secret-key').val("")
				$("#confirmation-modal").modal();
			}
		}

		$('#confirm-button').click(function(){
			if(!$('#modal-secret-key').val())
			{
				$('#error-message').show()
				setTimeout(function(){
					$('#error-message').hide()
				}, 3000);
				return false
			}
			else
			{
				// Send ajax Request
				$form = $('#mark-origin-id-invalid')

				data.secretKey = $('#modal-secret-key').val()
				data_string = JSON.stringify(data)

				console.log(data_string)

				$form.append($("<input name= 'data' type= 'text' value = '" + data_string + "'/>"))

				console.log($form)
				$form.submit()

				// Clear the contents of the form
				$form.empty()
			}
		})

	</script>

{% endblock content %}
