{% extends 'base.html' %}

{% block title %}
All tests page
{% endblock title %}

{% block header %}
	<div class="bg-info jumbotron jumbotron-fluid py-3">
		<div class="bg-dark p-1 m-0"></div>
		<div class="container-fluid d-flex py-0">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="250" height="100" class="img-fluid" alt="">
			<div>
			    <h1 class="display-3 font-weight-bold">FACTs FRONTEND</h1>
			    <p class="lead font-weight-normal text-dark">Framework for Analysis and Comparison of Tests</p>
			</div>
		</div>
		<div class="bg-dark p-1 m-0"></div>
	</div>
{% endblock %}


{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
    		</li>

    		<!-- <li class="nav-item">
    			<a class="nav-link" href="#best-of-all-graph-div">Best Results Graph</a>
    		</li> -->

    		<li class="nav-item">
    			<a class="nav-link" href="#filters-and-tables">All Benchmarks Tables</a>
    		</li>
    	</ul>
	</nav>
{% endblock %}


{% block content %}

	<div class="container-fluid d-flex flex-row-reverse">	
		<!-- Download as CSV button -->
		<button id="download-data" class="btn-lg btn-success font-weight-bold ml-auto h-50 align-self-center mr-5">Download data</button>
	</div>

	<!-- Filter and tables -->
	<div id="filters-and-tables" class="container-fluid d-flex justify-content-between">
		<div id="all-filters-div" class='card w-25 bg-light border-info font-weight-bold'>
			<div class="card-header bg-success text-white">
				<h2>Filter tests</h2>
			</div>
			<form>
				<div class="card-body">
					{% for filter in context.filter_labels_list %}
						<div class="custom-control custom-checkbox">
						    <input type="checkbox" class="custom-control-input filter-checkboxes" id="{{ filter }}" onclick="filterTestsByLabel()" name="{{ filter }}" value="{{ filter }}">
						    <label class="custom-control-label" for="{{ filter }}">{{ filter }}</label>
		  				</div>
					{% endfor %}

				</div>
			</form>
		</div>
		<div id="hpc-table-div" class='w-25'>
			<h2 class="mx-2 mb-2 pb-2 font-weight-bold text-center">HPC BENCHMARKS</h2>
			<table class="table table-dark table-hover" id="hpc-benchmarks-list">
				{% for benchmark in context.hpc_benchmarks_list %}
					<tr class="all-tests-rows">
						<td class="all-tests-cells"><a href="/allruns/{{benchmark}}" class="btn btn-dark text-white font-weight-bold text-center w-100 my-0">{{benchmark}}</a></td>
						<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div id="cloud-table-div" class='w-25'>
			<h2 class="mx-2 mb-2 pb-2 font-weight-bold text-center">CLOUD BENCHMARKS</h2>
			<table class="table table-dark table-hover" id="cloud-benchmarks-list">
				{% for benchmark in context.cloud_benchmarks_list %}
					<tr class="all-tests-rows">
						<td class="all-tests-cells"><a href="/allruns/{{benchmark}}" class="btn btn-dark font-weight-bold text-white text-center w-100 my-0">{{benchmark}}</a></td>
						<td style="display:none;">{{ context.filter_labels_dict[benchmark] }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<!-- Hidden form for Downloading data as CSV -->
	<form action="/generate_custom_data" method="POST" id="download-csv-form" style="display:none;">
	</form>

<script>
	
	$(document).ready(function() {

	});

	$form = $('#download-csv-form')

	$('#download-data').click(function(){
		$form.submit()
	})

</script>

{% endblock content %}

