{% extends 'base.html' %}

{% block title %}
Secret Test Details
{% endblock title %}

{% block content %}
	{% if context %}
		{% if keyerror %}
			{% block keyerror %}
				<div class="alert alert-danger fade in alert-dismissible show" style="margin:0% 10%;">
	 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    				<span aria-hidden="true" style="font-size:20px">&times;</span>
	  				</button>    
	  				<h3><strong>Error: </strong> {{ keyerror.message }}</h3>
				</div>
			{% endblock %}
		{% endif %}


		{% if success %}
			{% block success %}
				<div class="alert alert-success fade in alert-dismissible show" style="margin:0% 10%;">
	 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    				<span aria-hidden="true" style="font-size:20px">&times;</span>
	  				</button>
	  				<h3><strong>Success! </strong>{{ success.message }}</h3>
				</div>
			{% endblock %}
		{% endif %}

		<h2 style="font-weight: bold; text-align: center;">{{ context.testname }}</h2>

		<div class="secret-grid">
			<pre>
						   _____                    _     _____                                                                 
						  / ____|                  | |   |  __ \                                                                
						 | (___   ___  ___ _ __ ___| |_  | |__) |_ _  __ _  ___                                                 
						  \___ \ / _ \/ __| '__/ _ \ __| |  ___/ _` |/ _` |/ _ \                                                
						  ____) |  __/ (__| | |  __/ |_  | |  | (_| | (_| |  __/                                                
						 |_____/ \___|\___|_|  \___|\__| |_|   \__,_|\__, |\___|                                                
						                                              __/ |                                                     
						                                              |___/

						   ____        _          __             ________ _ _         __  __                _                   
						  / __ \      | |        / _|           |  ____| (_) |       |  \/  |              | |                  
						 | |  | |_ __ | |_   _  | |_ ___  _ __  | |__  | |_| |_ ___  | \  / | ___ _ __ ___ | |__   ___ _ __ ___ 
						 | |  | | '_ \| | | | | |  _/ _ \| '__| |  __| | | | __/ _ \ | |\/| |/ _ \ '_ ` _ \| '_ \ / _ \ '__/ __|
						 | |__| | | | | | |_| | | || (_) | |    | |____| | | ||  __/ | |  | |  __/ | | | | | |_) |  __/ |  \__ \
						  \____/|_| |_|_|\__, | |_| \___/|_|    |______|_|_|\__\___| |_|  |_|\___|_| |_| |_|_.__/ \___|_|  |___/
						                  __/ |                                                                                 
						                 |___/                                                                                  

			</pre>
		</div>

		<div class='inline-block-child'>
			<table id="resultsTable">

				<thead>
					<tr>
						<th>Mark Valid/Invalid</th>
						{% for column in context.results %}
							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in range(context.results| no_of_rows ) %}
						{% set i = loop.index0 %}
						<tr class="table-row">
							{% for key in context.results %}
								{% if loop.index0 == 0%}
										<td>
											<button style="margin: 5px 0px 5px;  font-weight: bold;"class="invalidate-test btn btn-danger" type="button" value="{{ context.results[key][i] }}">Mark as Invalid</button>
											<button style="margin: 5px 0px 5px; font-weight: bold;"class="validate-test btn btn-info" type="button" value="{{ context.results[key][i] }}">Mark as Valid</button>
										</td>
										<td>{{ context.results[key][i] }}</td>
								{% else %}
									<td> {{ context.results[key][i] }}</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-label" aria-hidden="true">
			<div class="modal-dialog" role="document">

				<!-- Modal Content -->
				<div class="modal-content">
					<!-- Header -->
					<div class="modal-header">
						<h5 class="modal-title" id="confirmation-modal-header"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<!-- Body -->
					<form id="confirmation-modal-form">
						<div class="modal-body">
							
								<div class="form-group">
									<label for="modal-result-id" class="col-form-label">resultID</label>
									<input type="text" class="form-control" id="modal-result-id" readonly="readonly">
								</div>
								<div class="form-group">
									<label for="modal-secret-key" class="col-form-label">Secret Key</label>
									<input type="password" placeholder="Enter Secret Key" class="form-control" id="modal-secret-key">
								</div>
								<div id="error-message" class="alert alert-danger">
									Please fill out this field
								</div>
						</div>
						<!-- Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        				<button type="button" class="btn btn-primary" id="confirm-button">Confirm</button>
						</div>
					</form>
					
				</div>
	    </div>

		<!-- Hidden form for Validating/ Invalidating -->
		<form action="/mark-result-id-invalid" method="POST" id="mark-result-id-invalid" style="display:none;">
		</form>	

	{% else %}
		<form action="/test-details/secret/{{originID.ID}}" method="POST">
			<div class="secret-grid">
				<pre>
							   _____                    _     _____                                                                 
							  / ____|                  | |   |  __ \                                                                
							 | (___   ___  ___ _ __ ___| |_  | |__) |_ _  __ _  ___                                                 
							  \___ \ / _ \/ __| '__/ _ \ __| |  ___/ _` |/ _` |/ _ \                                                
							  ____) |  __/ (__| | |  __/ |_  | |  | (_| | (_| |  __/                                                
							 |_____/ \___|\___|_|  \___|\__| |_|   \__,_|\__, |\___|                                                
							                                              __/ |                                                     
							                                              |___/

							   ____        _          __             ________ _ _         __  __                _                   
							  / __ \      | |        / _|           |  ____| (_) |       |  \/  |              | |                  
							 | |  | |_ __ | |_   _  | |_ ___  _ __  | |__  | |_| |_ ___  | \  / | ___ _ __ ___ | |__   ___ _ __ ___ 
							 | |  | | '_ \| | | | | |  _/ _ \| '__| |  __| | | | __/ _ \ | |\/| |/ _ \ '_ ` _ \| '_ \ / _ \ '__/ __|
							 | |__| | | | | | |_| | | || (_) | |    | |____| | | ||  __/ | |  | |  __/ | | | | | |_) |  __/ |  \__ \
							  \____/|_| |_|_|\__, | |_| \___/|_|    |______|_|_|\__\___| |_|  |_|\___|_| |_| |_|_.__/ \___|_|  |___/
							                  __/ |                                                                                 
							                 |___/                                                                                  

				</pre>

					<button class="btn btn-success">Click here to ENTER!</button>
			</div>
		</form>

	{% endif %}

	<script>
		$( document ).ready(function() {
			// Setup - append a text input to each header cell
	    	$('#resultsTable thead tr').clone(true).appendTo( '#resultsTable thead' );
			//Add the Filter bars for each column
			$('#resultsTable thead tr:eq(1) th').each( function (i) {
	    		if(i == 0)
		    		$(this).html( '' );
		    	else
		        {
		        	var title = $(this).text();
		        	$(this).html( '<input style="width: 100px;" type="text" placeholder="Search '+title+'" />' );
	        	}
		 
		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        });
	    	});

			//Create a DataTable 
			var table = $("#resultsTable").DataTable({
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				orderCellsTop: true,
	        	fixedHeader: true
			});

	    	table.columns.adjust().draw();
		});


		data = {}

		$('.invalidate-test').click(function(){
			console.log("INVALIDATING")

			// Fill data into the object
			data = {
				originID : "{{ context.originID }}",
				resultID : this.value,
				valid : 0,
			}

			// Dynamically make the Confirmation Modal
			$('#error-message').hide()
			$('#confirmation-modal-header').html('Confirm invalidation of ResultID ' + this.value + ' ?')
			$("#modal-result-id").val(this.value)
			$('#modal-secret-key').val("")
			$("#confirmation-modal").modal();
		})

		$('.validate-test').click(function(){
			console.log("VALIDATING")

			// Fill data into the object
			data = {
				originID : "{{ context.originID }}",
				resultID : this.value,
				valid : 1,
			}

			// Dynamically make the Confirmation Modal
			$('#error-message').hide()
			$('#confirmation-modal-header').html('Confirm Validation of ResultID ' + this.value + ' ?')
			$("#modal-result-id").val(this.value)
			$('#modal-secret-key').val("")
			$("#confirmation-modal").modal();

		})

		$('#confirm-button').click(function(){
			console.log("Confirmed bro")

			if(!$('#modal-secret-key').val())
			{
				console.log("FILL OUT this field")
				$('#error-message').show()
				setTimeout(function(){
					console.log("hiding error message")
					$('#error-message').hide()
				}, 3000);
				return false
			}
			else
			{
				// Send ajax Request
				$form = $('#mark-result-id-invalid')

				data.secretKey = $('#modal-secret-key').val()
				data_string = JSON.stringify(data)

				console.log(data_string)

				$form.append($("<input name= 'data' type= 'text' value = '" + data_string + "'/>"))

				console.log($form)
				$form.submit()

				// Clear the contents of the form
				$form.empty()

			}


		})

	</script>

{% endblock content %}
