{% extends 'base.html' %}

{% block title %}
Test Details
{% endblock title %}

{% block navbar %}
	<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark lead">
		<a class="navbar-brand bg-light text-dark py-1 px-2 font-weight-normal" href="#">
			<img src="{{ url_for('static', filename='images/FACTs_Transparent.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> FACTs Frontend
		</a>
		<!-- Links -->
		<ul class="navbar-nav font-weight-normal">
			<li class="nav-item">
				<a class="nav-link active" href="/">Home</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#system-details-div">System Details</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#results-table-div">All-Results Table</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#generate-other-graphs">Other Graphs</a>
    		</li>
    	</ul>

        {{ super() }}

	</nav>
{% endblock %}

{% block content %}

	<!-- Hidden form for Downloading data as CSV -->
	<form action="/download_as_csv" method="POST" id="download-csv-form" style="display:none;">
	</form>

	<div class="container-fluid d-flex flex-column">
		<div class="container-fluid text-center page-header">
			<h1 class="font-weight-bold display-4"><a class="btn-link font-weight-bold" href="/allruns/{{context.testname}}">{{ context.testname }}</a>-{{context.originID}}</h1>
		</div>

		<div id="system-details-div" class='bg-light mb-5 mx-5 px-5'>
			<h2 class="bg-info text-center text-white font-weight-bold py-3 mb-4">
				System Details
			</h2>
			<table class="table table-hover" id="systemDetailsTable">
				<thead class="thead-dark">
					<tr>
						{% for column in context.system_details %}
							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tr>
					{% for key in context.system_details %}
						{% if loop.index0 < 3 %}
							{% if loop.index0 == 2 %}
								<td> <a class="btn btn-lg btn-success font-weight-bold" href="/environment-details/{{ context.system_details[key][0] }}">Details</a></td>
							{% else %}
								<td> {{ context.system_details[key][0] }}</td>
							{% endif %}
						{% elif loop.index0 == 3 %}
						<td> <a class="btn btn-lg btn-success font-weight-bold" href="{{ context.system_details[key][0] }}" target="_blank">NAS Link</a>  </td>
						{% else %}
						<td> <a class="btn btn-lg btn-success font-weight-bold" href="{{ context.system_details[key][0] }}" target="_blank">Jenkins Link</a>  </td>
						{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>

		<div id="results-table-div" class='bg-light overflow-auto mt-5'>
			<h1 class="bg-success text-center text-white font-weight-bold py-3 mb-5">
				Results
			</h1>

			<table class="table table-hover px-5" id="resultsTable">

				<thead class="thead-dark">
					<tr>
						{% for column in context.results %}
							<th>{{ column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<thead id="search-thead">
				</thead>
				<tbody>
					{% for row in range(context.results| no_of_rows ) %}
						{% set i = loop.index0 %}
						<tr class="table-row">
							{% for key in context.results %}
								<td> {{ context.results[key][i] }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div id="generate-other-graphs" class="d-flex justify-content-between">
				<button type="button" id="download-results-table-csv" class="btn btn-primary font-weight-bold">Download as CSV</button>
				<button type="button" id="generate-cpu-graphs" class="btn btn-success font-weight-bold" >Generate CPU Utilization Graphs</button>
				{% if context.result_type == 'perf' %}
					<button type="button" id="generate-counter-graphs" class="btn btn-success font-weight-bold">Generate Counter Graphs</button>
				{% endif %}		
			</div>
		</div>

		<!-- Modal (POPUP) for Counter Graph -->
		{% if context.result_type == 'perf' %}
			<div class="modal fade" id="counter-graph-modal" tabindex="-1" role="dialog" aria-labelledby="counter-graph-modal-label" aria-hidden="true">
				<div class="modal-dialog modal-xl" role="document">

					<!-- Modal Content -->
					<div class="modal-content">
						<!-- Header -->
						<div class="modal-header">
							<h5 class="modal-title">All Counter Graphs</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
						</div>
						<!-- Body -->
						<!-- You can put as many graphs as you want inside this Body -->
						<!-- Each card corresponds to a graph -->
						<div class="modal-body">
							<div class="d-flex flex-row-reverse">
								<select id="num-cpus-select" class="form-control form-control-lg w-25 px-2">
									{% for cpu_count in context.num_cpus_list %}
										<option value="{{cpu_count}}">{{cpu_count}}</option>
									{% endfor %}
								</select>

								<h4 class="align-self-center mx-2">Select Num_CPUs</h4>
							</div>

							<!-- 13 Counter graphs -->
							{% for i in range(1,14) %}
							<div id="counter-graph-card-{{i}}" class="card my-4 p-0">
								<div class="card-header">
									<h5 id="counter-graph-title-{{i}}">Loading Graph... This may take a while ...</h5>
								</div>
								<div class="card-body m-0 p-0" style="height: 500px;">
									<div id="counter-graph-{{i}}" class="m-0 pt-3 pb-0" style="height: 450px;"></div>
								</div>
								<div class="card-footer">
									<button id="download-counter-graph-{{i}}" class="btn btn-primary font-weight-bold float-right" onclick="downloadAsPng(getCounterGraphName('{{i}}'), 'counter-graph-{{i}}')">Download as PNG</button>
								</div>
							</div>

							{% endfor %}

						</div>
						<!-- Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
		    	</div>
		    </div>
		{% endif %}

		<!-- Modal (POPUP) for CPU Utilization graphs -->
		<div class="modal fade" id="cpu-graphs-modal" tabindex="-1" role="dialog" aria-labelledby="cpu-graphs-modal-label" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">

				<!-- Modal Content -->
				<div class="modal-content">
					<!-- Header -->
					<div class="modal-header">
						<h5 class="modal-title">CPU Graphs for % Core Utilization</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<!-- Body -->
					<!-- You can put as many graphs as you want inside this Body -->
					<!-- Each card corresponds to a graph -->
					<div class="modal-body">
						<div class="d-flex flex-row-reverse">
							<select id="num-cpus-util-select" class="form-control form-control-lg w-25 px-2">
								{% for cpu_count in context.num_cpus_list %}
									<option value="{{cpu_count}}">{{cpu_count}}</option>
								{% endfor %}
							</select>

							<h4 class="align-self-center mx-2">Select Num_CPUs</h4>
						</div>

						<!-- 5 graphs for CPU utilization -->
						{% for i in range(1,6) %}
						<div id="cpu-graphs-card-{{i}}" class="card my-4 p-0">
							<div class="card-header">
								<h5 id="cpu-graphs-title-{{i}}">Loading Graph... This may take a while ...</h5>
							</div>
							<div class="card-body m-0 p-0" style="height: 500px;">
								<div id="cpu-graphs-{{i}}" class="m-0 pt-3 pb-0" style="height: 450px;"></div>
							</div>
							<div class="card-footer">
								{% if i <= 4 %}
								<button id="redraw-cpu-graphs-{{i}}" class="btn btn-primary font-weight-bold" onclick="updateRangeOfCPUUtilGraphs('cpu-graphs-{{i}}')">Redraw ALL</button>
								{% endif %}
								<button id="download-cpu-graphs-{{i}}" class="btn btn-primary font-weight-bold float-right" onclick="downloadAsPng('CPU Utilization Graph', 'cpu-graphs-{{i}}')">Download as PNG</button>
							</div>
						</div>
						{% endfor %}

						{% set cpu_util_graphs_count = 5 %}

						<!-- 3 graphs for Freq_dump  -->
						{% if context.freq_dump_csv_exists %}
							{% for i in range(cpu_util_graphs_count + 1, cpu_util_graphs_count + 4) %}
							<div id="cpu-graphs-card-{{i}}" class="card my-4 p-0">
								<div class="card-header">
									<h5 id="cpu-graphs-title-{{i}}">Loading Graph... This may take a while ...</h5>
								</div>
								<div class="card-body m-0 p-0" style="height: 500px;">
									<div id="cpu-graphs-{{i}}" class="m-0 pt-3 pb-0" style="height: 450px;"></div>
								</div>
								<div class="card-footer">
									<button id="download-cpu-graphs-{{i}}" class="btn btn-primary font-weight-bold float-right" onclick="downloadAsPng('CPU Utilization Graph', 'cpu-graphs-{{i}}')">Download as PNG</button>
								</div>
							</div>
							{% endfor %}

							<!-- Update CPU Util graphs COUNT value by 3-->
							{% set cpu_util_graphs_count = cpu_util_graphs_count + 3 %}
						{% endif %}

						<!-- 2 graphs for RAM utilization -->
						{% if context.ramstat_csv_exists %}
								{% for i in range(cpu_util_graphs_count + 1, cpu_util_graphs_count + 3) %}
								<div id="cpu-graphs-card-{{i}}" class="card my-4 p-0">
									<div class="card-header">
										<h5 id="cpu-graphs-title-{{i}}">Loading Graph... This may take a while ...</h5>
									</div>
									<div class="card-body m-0 p-0" style="height: 500px;">
										<div id="cpu-graphs-{{i}}" class="m-0 pt-3 pb-0" style="height: 450px;"></div>
									</div>
									<div class="card-footer">
										<button id="download-cpu-graphs-{{i}}" class="btn btn-primary font-weight-bold float-right" onclick="downloadAsPng('CPU Utilization Graph', 'cpu-graphs-{{i}}')">Download as PNG</button>
									</div>
								</div>
								{% endfor %}

							<!-- Update CPU Util graphs COUNT value by 2-->
							{% set cpu_util_graphs_count = cpu_util_graphs_count + 2 %}
						{% endif %}

						<!-- 1 graph for iostat -->
						{% if context.iostat_csv_exists %}
								{% for i in range(cpu_util_graphs_count + 1, cpu_util_graphs_count + 2) %}
								<div id="cpu-graphs-card-{{i}}" class="card my-4 p-0">
									<div class="card-header">
										<h5 id="cpu-graphs-title-{{i}}">Loading Graph... This may take a while ...</h5>
									</div>
									<div class="card-body m-0 p-0" style="height: 500px;">
										<div id="cpu-graphs-{{i}}" class="m-0 pt-3 pb-0" style="height: 450px;"></div>
									</div>
									<div class="card-footer">
										<button id="download-cpu-graphs-{{i}}" class="btn btn-primary font-weight-bold float-right" onclick="downloadAsPng('CPU Utilization Graph', 'cpu-graphs-{{i}}')">Download as PNG</button>
									</div>
								</div>
								{% endfor %}

							<!-- Update CPU Util graphs COUNT value by 1-->
							{% set cpu_util_graphs_count = cpu_util_graphs_count + 1 %}
						{% endif %}

					</div>
					<!-- Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
	    	</div>
	    </div>

	</div>
	
	<script>
		$( document ).ready(function() {

			// Setup - append a text input to each header cell
	    	$('#resultsTable thead tr').clone(true).appendTo( '#resultsTable #search-thead' );
			//Add the Filter bars for each column
			$('#resultsTable #search-thead tr th').each( function (i) {
	    	
	        	var title = $(this).text();
	        	$(this).html( '<input style="width: 150px;" type="text" placeholder="Search '+title+'" />' );

		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        });
	    	});

	    	//Create a DataTable 
			var table = $("#resultsTable").DataTable({
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				orderCellsTop: true,
	        	fixedHeader: true
			});

	    	table.columns.adjust().draw();
		});

		// Download the results table as csv
		$('#download-results-table-csv').click(function(){

			filename = "{{context.testname}}-{{context.originID}}"
			data = {}

			$tableRows = $("#resultsTable th")
			$table = $("#resultsTable").DataTable()
			$allColumnsData = $table.columns({ filter : 'applied'}).data()

			for( i = 0; i < $tableRows.length; i++){
	  			column = $tableRows[i].innerHTML

	  			console.log(column)
	  			data[column] = $allColumnsData[i]
	  		}


			console.log("DATA")
			console.log(data)

			$form = $('#download-csv-form')

			downloadAsCsv(filename, data, $form)
		})

		// Open the modal (popup) having 13 counter graphs
		$('#generate-counter-graphs').click(function(){
			// Set select to first option
			$firstOption = $('#num-cpus-select option').first().text()
			$("#num-cpus-select").val($firstOption);

			$("#counter-graph-modal").modal();
			drawCounterGraphs()
		})

		// Open the modal (popup) having cpu-graphs
		$('#generate-cpu-graphs').click(function(){
                        // Set select to first option
                        $firstOption = $('#num-cpus-util-select option').first().text()
                        $("#num-cpus-util-select").val($firstOption);
			$("#cpu-graphs-modal").modal();
			drawCPUUtilizationGraphs()
		})

		// On Num_CPUs change event
		$("#num-cpus-select").change(function(){
			drawCounterGraphs()
		})

		$("#num-cpus-util-select").change(function(){
			drawCPUUtilizationGraphs()
		})

		cpuGraphsDivList = ['cpu-graphs-1', 'cpu-graphs-2', 'cpu-graphs-3', 'cpu-graphs-4']

		function drawCPUUtilizationGraphs() {
			// The first 5 cpu util graphs
			for(i = 1; i < 6; i++){
				Plotly.purge('cpu-graphs-'+i)

				// Set html to loading circle
				$('#cpu-graphs-'+i).html("<div class='loading-circle text-center'><div class='spinner-border text-center' role='status'><span class='sr-only'>Loading...</span></div></div>")
			}
			{% set cpu_util_graphs_count = 5 %}

			// 3 graphs of freq_dump.csv
			{% if context.freq_dump_csv_exists %}

				for(i = {{ cpu_util_graphs_count + 1 }}; i < {{ cpu_util_graphs_count + 4 }}; i++){
					Plotly.purge('cpu-graphs-'+i)

					// Set html to loading circle
					$('#cpu-graphs-'+i).html("<div class='loading-circle text-center'><div class='spinner-border text-center' role='status'><span class='sr-only'>Loading...</span></div></div>")
				}

			{% set cpu_util_graphs_count = cpu_util_graphs_count + 3 %}
			{% endif %}

			// 2 graphs of ramstat.csv
			{% if context.ramstat_csv_exists %}
				for(i = {{ cpu_util_graphs_count + 1 }}; i < {{ cpu_util_graphs_count + 3 }}; i++){
					Plotly.purge('cpu-graphs-'+i)

					// Set html to loading circle
					$('#cpu-graphs-'+i).html("<div class='loading-circle text-center'><div class='spinner-border text-center' role='status'><span class='sr-only'>Loading...</span></div></div>")
				}

			{% set cpu_util_graphs_count = cpu_util_graphs_count + 2 %}
			{% endif %}

			// 1 graph of iostat.csv
			{% if context.iostat_csv_exists %}
				for(i = {{ cpu_util_graphs_count + 1 }}; i < {{ cpu_util_graphs_count + 2 }}; i++){
						Plotly.purge('cpu-graphs-'+i)

						// Set html to loading circle
						$('#cpu-graphs-'+i).html("<div class='loading-circle text-center'><div class='spinner-border text-center' role='status'><span class='sr-only'>Loading...</span></div></div>")
					}
			
			{% set cpu_util_graphs_count = cpu_util_graphs_count + 1 %}
			{% endif %}


			ajaxData = {
				'jobname' : '{{context.jenkins_details.jobname}}',
				'runID' : '{{context.jenkins_details.runID}}',
                                'numCPUs' : $('#num-cpus-util-select option:selected').text(),
			}
			$.ajax({
				url: '/cpu_utilization_graphs',
				method: "POST",
				dataType: 'json',
				contentType: "application/json",
				data: JSON.stringify(ajaxData),

			}).done(function(response){
				// Remove all the loading circles first
				$('.loading-circle').remove()

				console.log("DONEEEEEEE")
				console.log(response)

				$.each(Object.keys(response), function(index, graphName){
					$('#cpu-graphs-title-'+(index+1)).html(graphName)

					// Set title for that particular graph
					response[graphName]['graphTitle'] = graphName
					graphType = response[graphName]['graph_type']

					if(graphType == 'heatmap'){
						drawHeatmap(response[graphName], 'cpu-graphs-'+(index+1))
					}
					else if(graphType == 'bar')
					{
						drawBarGraph(response[graphName], 'cpu-graphs-'+(index+1))
					}
					else if(graphType == 'line')
					{
						drawLineGraph(response[graphName], 'cpu-graphs-'+(index+1))
					}
					else if(graphType == 'stack')
					{
						drawStackGraph(response[graphName], 'cpu-graphs-'+(index+1))
					}
                    else if (graphType == 'combo')
                    {
                        drawComboGraph(response[graphName], 'cpu-graphs-'+(index+1))
                    }
				})


				// Make autorange=false for all CPU Utilization graphs
				for (i =0; i < cpuGraphsDivList.length; i++)
				{
					div = document.getElementById(cpuGraphsDivList[i])

					div.layout.xaxis.autorange = false
				}

				// Event to make autorange=false when Autoscale is clicked 
				// (autorange becomes true when Autoscale is clicked)
				$autoscaleButtons = $('[data-title="Autoscale"]')

				$autoscaleButtons.on('click', function(e){
					for (i =0; i < cpuGraphsDivList.length; i++)
					{
						div = document.getElementById(cpuGraphsDivList[i])

						div.layout.xaxis.autorange = false
					}
				})

			})
		}		

    	function updateRangeOfCPUUtilGraphs(graphID){
			console.log(graphID)
			
			// Get corresponding range
			graphDiv = document.getElementById(graphID)
			rangeArray = graphDiv.layout.xaxis.range

			for (i =0; i < cpuGraphsDivList.length; i++)
			{
				div = document.getElementById(cpuGraphsDivList[i])

				// Change the range of the div's xaxis
				div.layout.xaxis.range = rangeArray
				Plotly.update(div, div.data, div.layout)
			}
  
   		};


		function drawCounterGraphs(){
			// Destroy all the counter graphs initially
			for(i = 1; i <=13; i++){
				Plotly.purge('counter-graph-'+i)
			}

			ajaxData = {
				'jobname' : '{{context.jenkins_details.jobname}}',
				'runID' : '{{context.jenkins_details.runID}}',
				'numCPUs' : $('#num-cpus-select option:selected').text(),
			}
			$.ajax({
		    	url: '/counter_graphs',
				method: "POST",
				dataType: 'json',
				contentType: "application/json",
				data: JSON.stringify(ajaxData),

			}).done(function(response){
				console.log("DONEEEEEEE")
				console.log(response)
				console.log(Object.keys(response))

				$.each(Object.keys(response), function(index, graphName){
					// Keep graph_name according to the value of num cpus

					$('#counter-graph-title-'+(index+1)).html(graphName)
					console.log(graphName)
					console.log(response[graphName])

					// Set title for that particular graph
					response[graphName]['graphTitle'] = graphName
					graphType = response[graphName]['graph_type']

					if(graphType == 'histogram'){
						drawHistogram(response[graphName], 'counter-graph-'+(index+1))
					}
					else if(graphType == 'stack')
					{
						drawStackGraph(response[graphName], 'counter-graph-'+(index+1))
					}
					else if(graphType == 'line')
						drawLineGraph(response[graphName], 'counter-graph-'+(index+1))	
				});

			})
		}

		// Get name of the graph from the graph index
		function getCounterGraphName(index){
			$graphName = $('#counter-graph-'+index)[0].layout.title.text

			return $graphName;
		}

	</script>	

{% endblock %}
