{% extends 'base.html' %}

{% block title %}
Test Details
{% endblock title %}


{% block content %}

	<!-- Hidden form for Downloading data as CSV -->
	<form action="/download_as_csv" method="POST" id="download-csv-form" style="display:none;">
	</form>

	<div style="display: grid; grid-template-columns: repeat(12, 1fr); padding:0; margin:0;">
		<h2 class="btn btn-link" onclick="showAllRuns(this)" style="grid-column: 5/8; justify-self: stretch; align-self: center; font-size: 40px; font-weight: bold;">
			{{ context.testname }}
		</h2>
	</div>

	<div class='inline-block-child'>
		<h2 style="text-align: center; font-weight: bold;">
			System Details
		</h2>
		<table id="systemDetailsTable">
			<tr>
				{% for column in context.system_details %}
					<th>{{ column }}</th>
				{% endfor %}
			</tr>

			<tr>
				{% for key in context.system_details %}
					{% if loop.index0 < 3 %}
						{% if loop.index0 == 2 %}
							<td> <a href="/environment-details/{{ context.system_details[key][0] }}">Details</a></td>
						{% else %}
							<td> {{ context.system_details[key][0] }}</td>
						{% endif %}
					{% elif loop.index0 == 3 %}
					<td> <a href="{{ context.system_details[key][0] }}" target="_blank">NAS Link</a>  </td>
					{% else %}
					<td> <a href="{{ context.system_details[key][0] }}" target="_blank">Jenkins Link</a>  </td>
					{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>

	<div class='inline-block-child'>
		<h2 style="text-align: center; font-weight: bold;">
			Results
		</h2>

		<table id="resultsTable">

			<thead>
				<tr>
					{% for column in context.results %}
						<th>{{ column }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in range(context.results| no_of_rows ) %}
					{% set i = loop.index0 %}
					<tr class="table-row">
						{% for key in context.results %}
							<td> {{ context.results[key][i] }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button type="button" id="download-results-table-csv" class="btn btn-primary font-weight-bold">Download as CSV</button>
	</div>
	
	
	<script>
		$( document ).ready(function() {

			// Setup - append a text input to each header cell
	    	$('#resultsTable thead tr').clone(true).appendTo( '#resultsTable thead' );
			//Add the Filter bars for each column
			$('#resultsTable thead tr:eq(1) th').each( function (i) {
	    	
	        	var title = $(this).text();
	        	$(this).html( '<input style="width: 150px;" type="text" placeholder="Search '+title+'" />' );
	        
		 
		        $( 'input', this ).on( 'keyup change', function () {
		            if ( table.column(i).search() !== this.value ) {
		                table
		                    .column(i)
		                    .search( this.value )
		                    .draw();
		            }
		        });
	    	});

	    	//Create a DataTable 
			var table = $("#resultsTable").DataTable({
				"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				orderCellsTop: true,
	        	fixedHeader: true
			});

	    	table.columns.adjust().draw();
		});

		$('#download-results-table-csv').click(function(){

			filename = "{{context.testname}}-{{context.originID}}"
			data = {}

			$tableRows = $("#resultsTable th")
			$table = $("#resultsTable").DataTable()
			$allColumnsData = $table.columns({ filter : 'applied'}).data()

			for( i = 0; i < $tableRows.length; i++){
	  			column = $tableRows[i].innerHTML

	  			console.log(column)
	  			data[column] = $allColumnsData[i]
	  		}


			console.log("DATA")
			console.log(data)

			$form = $('#download-csv-form')

			downloadAsCsv(filename, data, $form)
		})
	</script>	

{% endblock %}